a img{
border:0;
}
div.wrap{
width:922px;
margin:0 auto;
text-align:left;
}
div#top div#nav{
float:left;
clear:both;
width:922px;
height:52px;
margin:0;
background:url url(images/nav-bg.png) 0 0 no-repeat;
}
div#top div#nav ul{
float:left;
width:922px;
height:52px;
list-style-type:none;
}
div#nav ul li{
float:left;
height:52px;
}
div#nav ul li a{
border:0;
height:52px;
display:block;
line-height:52px;
text-indent:-9999px;
}
div#header{
margin:-1px 0 0;
}
div#video-header{
height:331px;
margin:-1px 0 0;
}
div#header div.wrap{
height:331px;
background:url(images/header-bg.png) 50% 0 no-repeat;
}
div#header div#slide-holder{
z-index:40;
width:922px;
height:331px;
position:absolute;
}
div#header div#slide-holder div#slide-runner{
width:922px;
height:331px;
overflow:hidden;
position:absolute;
}
div#header div#slide-holder img{
margin:0;
display:none;
position:absolute;
width:922px;
}

#slide-controls{
	height:30px;
	position:absolute;
	z-index:100000;
	left:45%;
	margin:-17px 0 0 0;
	overflow:hidden;
	display:block;
	outline:none;
}

#slide-controls a {
	font-family:"Arial";
	font-size:20px;
	color:#FFFFFF;
	padding:0 20px 0 5px;
}

#slide-controls a:hover {
	font-weight:bold;
	text-decoration:underline;
}