/* Reset - section reset */
	* {margin: 0px ; padding: 0px; text-decoration: none; outline: none;}
	html {margin: 0px; padding: 0px; outline: none;}
	body {outline: none; margin: 0px; padding: 0px; border: 0 none; display: block; font-family: Arial, Verdana, Helvetica, sans-serif; font-weight: normal;}
	h1, h2, h3, h4, h5 {font-weight: normal;}
	form, fieldset, label, legend, input, select, textarea, option, img, p, h1, h2, h3, h4, h5, h6, table, tr, td, th, tbody, thead, tfoot, caption, ul, dl, ol, li, dd, dt {border: 0 none; margin: 0px; padding: 0px;}
	ul, ol {list-style: none outside none;}
	table {border-collapse: collapse; border-spacing: 0;}
	p{margin: 0px}
	.text {color: #333; font-family: Arial, Helvetica, sans-serif; font-size: 6.24pt; font-weight: normal;}
	.text-insc {color: #333; font-family: Arial, Helvetica, sans-serif; font-size: 8.24pt; font-weight: normal;}
	.bold {font-weight: bold !important;}
/* Reset - ending */
/* INÍCIO - Config. Iniciais */
	#main-wrap {width: 100%; height: 100%; float: left; position: absolute; background: #fff;}
	#main-wrap #main-container {width: 750px; height: 980px; float: left; position: relative;}
/* FIM - Config. Iniciais */
/* INÍCIO - Conteúdo */
	#header {width: 748px; height: 150px; float: left; position: relative; }
		#left-images {width: 49%; float: left; position: relative;}
			.images-logo {float: left; position: relative; margin: 51px 0 0 50px;}
				.logo-img {width: 89px; height: 88px; float: left; position: relative;}
			.images-texto {float: left; position: relative; margin: 74px 0 0 20px;}
				.text-img {width: 158px; height: 56px; float: left; position: relative;}
		#right-images {width: 30%; float: right; position: relative;}
		.images-banner {float: left; position: relative; margin: 67px 0 0 18px; z-index: 2}
			.banner-img {width: 71px; height: 70px; float: left; position: relative;}
		.images-bar {width: 97px; height: 35px; float: left; position: relative; margin: 83px 0 0 -10px; z-index: 1}
			.insc-img {width: 97px; height: 35px; float: left; position: relative;}	
			.number-area {width: 80px; float: left; position: relative; margin: -25px 0 0 10px; z-index: 2}
		
		#main-content {width: 748px; height: 125px; float: left; position: relative; margin-top: 22px; line-height: 120%;}
			.u-list {width: 160px; float: left; position: relative; margin-top: 13px; margin-bottom: 50px; margin-left: 14px;}
				.block {width: 100%; float: left; position: relative;}
			.border {width: 643px; height: 5px; margin: 0 auto; position: relative; border-bottom: 1px dotted black; clear: both; display: block;}	
			.cutting {float: left; position: relative; margin: -3px 0 0 70px; clear: both; display: block;}	
				.tesoura-img {width: 16px; height: 12px; float: left; position: relative;} 	
/* FIM - Conteúdo */
/* INICIO - Helpers */
	.mg-left54 {margin-left: 54px !important;}	
/* FIM - Helpers */

