@charset "utf-8";
/* CSS Document */
/*Ie6*/
.sombra_geral {
	background-color:#000000;
	position:absolute;
	filter:alpha(opacity=90);
	z-index:1000;
	margin:auto;
	display:none;
}

.ie6 {
	width:932px;
	height:450px;
	position:absolute;
	z-index:10000;
	margin:0;
	background-image:url(../img/ie6_bgr.gif);
	display:none;
}

.ie6_tit_1 {
	font-size:25px;
	text-transform:uppercase;
	padding:12px 0 0 20px;
}

.ie6_tit_1 span {
	color:#F25900;
}

.ie6_tit_2 {
	width:535px;
	font-size:20px;
	text-transform:uppercase;
	padding:1px 2px 0 2px;
	margin:5px 0 11px 20px;
	background-color:#000000;
	color:#FFFFFF;
}

.ie6_w8s {
	margin:14px 19px 0 0;
}

.ie6_txt_1 {
	width:891px;
	height:90px;
	background-image:url(../img/ie6_bgr_box_1.jpg);
	background-repeat:no-repeat;
	margin:0 0 5px 20px;
}

.ie6_txt_1 {
	width:846px;
	font-family:"Arial";
	font-size:15px;
	color:#000000;
	text-align:justify;
	padding:14px 22px 0 22px;
	font-weight:bold;
	line-height:20px;
}

.ie6_box_navegadores {
	width:560px;
	height:242px;
	float:left;
	margin:0 0 0 9px;
}

.ie6_box_navegadores .tit {
	padding:0 0 14px 21px;
	font-size:20px;
}

.ie6_box_navegadores table {
	margin:0 0 25px 31px;
}

.ie6_box_navegadores table td {
	padding:0 30px 0 0;
}

.ie6_box_navegadores p {
	font-family:"Arial";
	font-size:12px;
	color:#000000;
	padding:0 0 4px 20px;
}

.ie6_box_navegadores a {
	color:#000000;
}

.ie6_box_navegadores a:hover {
	color:#000000;
	text-decoration:underline;
	font-weight:bold;
}

.ie6_continuar {
	width:200px;
	height:80px;
	background-image:url(../img/ie6_bgr_continuar.jpg);
	background-repeat:no-repeat;
	float:right;
	margin:16px 34px 0 0;
}

.ie6_continuar h5 {
	font-size:20px;
	padding:6px 0 0 15px;
	margin:0;
	color:#000000;
}

.ie6_continuar h5 a {
	color:#000000;
}

.ie6_continuar h5 a:hover {
	text-decoration:underline;
}

.ie6_txt_2 {
	width:331px;
	height:242px;
	float:left;
	background-image:url(../img/ie6_bgr_box_2.jpg);
	background-repeat:no-repeat;
}

.ie6_txt_2 h5 {
	font-size:20px;
	padding:16px 0 6px 21px;
	margin:0;
	color:#000000;
}

.ie6_txt_2 p {
	width:290px;
	font-family:"Arial";
	font-size:12px;
	color:#000000;
	text-align:justify;
	padding:0 21px 0 21px;
}
/*Ie6*/