@CHARSET "ISO-8859-1";

body {
	font: normal;
	font-family: Arial;
}

.align-center { width: 807px; position: relative; margin: 0 auto; margin-top: 35px; }
.center-align { margin: 0 0 55px 0; float: left; position: relative; width: 807px; }

table {
	border-color: black;
}

td {
	padding: 5px;
}

tr {
	border: solid;
	border-color: black;
	text-align: center;
}

thead {
	font-style: inherit;
	text-align: center;
	font-weight: bold;
}

tfoot {
	font-weight: bold;
}

tbody tr:nth-child(odd) {
	background: #CDC9C9;
}

tbody tr:nth-child(even) {
	background: #EEE9E9;
}

.cliente {
	text-align: left;
}

.valor {
	text-align: right;
}