/************** Skin 1 *********************/
.select_1 {
	display:inline-block !important;
	text-align:left;
	font-family:"Arial";
	font-size:17px;
	float:right;
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	border-radius:4px;
}

.select_1 .ddTitle {
	height:31px;
	overflow:hidden;
	background:url(../img/geral_bgr_select_1.png) no-repeat right;
	cursor:pointer;
}

.select_1 .ddTitle span.arrow {
	width:34px; 
	height:16px; 
	/*background:url(../img/geral_select_seta.png) no-repeat 0 0;*/
	float:right; 
	display:inline-block;
	cursor:pointer;
	margin:18px 7px 0 0;
}

.select_1 .ddTitle span.ddTitleText {
	display:block;
	font-family:"Arial";
	font-size:17px;
	color:#242B33;
	overflow:hidden;
	padding:3px 0 0 6px;
}

.select_1 .ddTitle span.ddTitleText img {
	position:0 0;
}

.select_1 .ddTitle img.selected {
	position:0 0;
}

.select_1 .ddChild {
	position:absolute;
	display:none;
	margin:0;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#FFFFFF;
}

.select_1 .ddChild .opta a, .select_1 .ddChild .opta a:visited {
}

.select_1 .ddChild a {
	display:block;
	font-family:"Arial";
	font-size:17px;
	color:#242B33;
	text-decoration:none;
	overflow:hidden;
	cursor:pointer;
	padding:5px 0 5px 13px;
	background-color:#FFFFFF;
}

.select_1 .ddChild a:hover {
	background-color:#242B33;
	color:#FFFFFF;
}

.select_1 .ddChild a img {
}

.select_1 .ddChild a.selected {
	background-color:#242B33;
	color:#FFFFFF;
}

.hidden {display:none;}
/************** Skin 1 *********************/

/************** Skin 2 *********************/
.select_2 {
	display:inline-block !important;
	text-align:left;
	font-family:"Arial";
	font-size:17px;
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	border-radius:4px;
	margin:0 0 0 19px;
}

.select_2 .ddTitle {
	height:31px;
	overflow:hidden;
	background:url(../img/geral_bgr_select_2.png) no-repeat right;
	cursor:pointer;
}

.select_2 .ddTitle span.arrow {
	width:34px; 
	height:16px; 
	/*background:url(../img/geral_select_seta.png) no-repeat 0 0;*/
	float:right; 
	display:inline-block;
	cursor:pointer;
	margin:18px 7px 0 0;
}

.select_2 .ddTitle span.ddTitleText {
	display:block;
	font-family:"Arial";
	font-size:17px;
	color:#242B33;
	overflow:hidden;
	padding:3px 0 0 6px;
}

.select_2 .ddTitle span.ddTitleText img {
	position:0 0;
}

.select_2 .ddTitle img.selected {
	position:0 0;
}

.select_2 .ddChild {
	position:absolute;
	display:none;
	margin:0 0 0 2px;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#FFFFFF;
}

.select_2 .ddChild .opta a, .select_2 .ddChild .opta a:visited {
}

.select_2 .ddChild a {
	display:block;
	font-family:"Arial";
	font-size:17px;
	color:#242B33;
	text-decoration:none;
	overflow:hidden;
	cursor:pointer;
	padding:5px 0 5px 13px;
	background-color:#FFFFFF;
}

.select_2 .ddChild a:hover {
	background-color:#242B33;
	color:#FFFFFF;
}

.select_2 .ddChild a img {
}

.select_2 .ddChild a.selected {
	background-color:#242B33;
	color:#FFFFFF;
}

.hidden {display:none;}
/************** Skin 2 *********************/

/************** Skin 3 *********************/
.select_3 {
	display:inline-block !important;
	text-align:left;
	font-family:"Arial";
	font-size:17px;
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	border-radius:4px;
	margin:0 0 10px 19px;
}

.select_3 .ddTitle {
	height:31px;
	overflow:hidden;
	background:url(../img/geral_bgr_select_3.png) no-repeat right;
	cursor:pointer;
}

.select_3 .ddTitle span.arrow {
	width:34px; 
	height:16px; 
	/*background:url(../img/geral_select_seta.png) no-repeat 0 0;*/
	float:right; 
	display:inline-block;
	cursor:pointer;
	margin:18px 7px 0 0;
}

.select_3 .ddTitle span.ddTitleText {
	display:block;
	font-family:"Arial";
	font-size:17px;
	color:#242B33;
	overflow:hidden;
	padding:3px 0 0 6px;
}

.select_3 .ddTitle span.ddTitleText img {
	position:0 0;
}

.select_3 .ddTitle img.selected {
	position:0 0;
}

.select_3 .ddChild {
	position:absolute;
	display:none;
	margin:0 0 0 2px;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#FFFFFF;
}

.select_3 .ddChild .opta a, .select_3 .ddChild .opta a:visited {
}

.select_3 .ddChild a {
	display:block;
	font-family:"Arial";
	font-size:17px;
	color:#242B33;
	text-decoration:none;
	overflow:hidden;
	cursor:pointer;
	padding:5px 0 5px 13px;
	background-color:#FFFFFF;
}

.select_3 .ddChild a:hover {
	background-color:#242B33;
	color:#FFFFFF;
}

.select_3 .ddChild a img {
}

.select_3 .ddChild a.selected {
	background-color:#242B33;
	color:#FFFFFF;
}

.hidden {display:none;}
/************** Skin 3 *********************/

/************** Skin 4 *********************/
.select_4 {
	text-align:left;
	font-family:"Arial";
	font-size:17px;
	-moz-border-radius:4px; 
	-webkit-border-radius:4px; 
	border-radius:4px;
	float:left;
	/*margin:0 9px 0 0;*/
	margin: 0 7px 0 0;
}

.select_4 .ddTitle {
	height:31px;
	overflow:hidden;
	background:url(../img/geral_bgr_select_4.png) no-repeat right;
	cursor:pointer;
}

.select_4 .ddTitle span.arrow {
	width:34px; 
	height:16px; 
	/*background:url(../img/geral_select_seta.png) no-repeat 0 0;*/
	float:right; 
	display:inline-block;
	cursor:pointer;
	margin:18px 7px 0 0;
}

.select_4 .ddTitle span.ddTitleText {
	display:block;
	font-family:"Arial";
	font-size:17px;
	color:#242B33;
	overflow:hidden;
	padding:3px 0 0 6px;
}

.select_4 .ddTitle span.ddTitleText img {
	position:0 0;
}

.select_4 .ddTitle img.selected {
	position:0 0;
}

.select_4 .ddChild {
	position:absolute;
	display:none;
	margin:0;
	overflow:auto;
	overflow-x:hidden !important;
	background-color:#FFFFFF;
	margin:0 0 0 1px;
}

.select_4 .ddChild .opta a, .select_4 .ddChild .opta a:visited {
}

.select_4 .ddChild a {
	display:block;
	font-family:"Arial";
	font-size:17px;
	color:#242B33;
	text-decoration:none;
	overflow:hidden;
	cursor:pointer;
	padding:5px 0 5px 13px;
	background-color:#FFFFFF;
}

.select_4 .ddChild a:hover {
	background-color:#242B33;
	color:#FFFFFF;
}

.select_4 .ddChild a img {
}

.select_4 .ddChild a.selected {
	background-color:#242B33;
	color:#FFFFFF;
}

.hidden {display:none;}
/************** Skin 4 *********************/
