@charset "utf-8";
/* CSS Document */

.invisivel {
	filter:alpha(opacity=0);
	font-size:19px;
	position:absolute;
}

.home_h1 {
	font-size:25px;
	text-transform:uppercase;
	color:#990033;
	padding:0;
	margin:0;
}

.interna_retangulo {
	width:303px;
	height:117px;
	padding:15px 0 0 34px;
	background-image:url(../img/interna_bgr_retangulo.png);
	background-repeat:repeat-y;
	background-position:left;
	position:absolute;
	margin:267px 0 0 0;
}

.interna_retangulo h1 {
	font-size:35px;
	text-transform:uppercase;
	color:#990033;
	padding:0;
	margin:0 0 -7px 0;
}

.interna_titulo {
	font-size:35px;
	text-transform:uppercase;
	color:#990033;
	padding:17px 0 0 125px;
	margin:0 0 -10px 0;
}

.interna_sep {
	margin:0 0 0 152px;
}

label {
	width:266px;
	padding:0 0 0 19px;
	float:left;
	font-family:"Arial";
	font-size:12px;
	color:#FFF;
}

input {
	width:255px;
	height:25px;
	border:0;
	margin:-3px 0 6px 20px;
	padding:0 0 0 5px;
	font-family:"Arial";
	font-size:12px;
	color:#333;
}
