@charset "utf-8";
/* CSS Document */

body   { 
	behavior:url("../../js/csshover.htc");
}

.img   { 
	behavior:url("../../js/iepngfix.htc");
}

.invisivel {
	filter:alpha(opacity=0);
	font-size:19px;
	position:absolute;
}