@charset "utf-8";
/* CSS Document */

/*Geral*/
*     { margin:0; padding:0; border:0; list-style:none; text-decoration:none; outline:none; }
img   { display:block; }
.left {	float:left; }
.right{	float:right;}
h1, h2, h3, h4, h5, h6 {
	font-weight:normal;
}
/*Geral*/

/*Estrutura*/
	body {
		background:#242B33;
	}
	
	.corpo {
		background:#39434F;
		min-height:570px;
	}
	
	.centro {
		width:932px;
	}
	
	.pagina_login {
		padding:120px 0 0 0;
	}
	
	a:hover {
		text-decoration:underline;
	}

	/*Bordas*/
		.borda_tl {
			-moz-border-radius-topleft:10px;
			-webkit-border-radius-topleft:10px;
			border-top-left-radius:10px;
		}
	
		.borda_tr {
			-moz-border-radius-topright:10px;
			-webkit-border-radius-topright:10px;
			border-top-rigth-radius:10px;
		}
	
		.borda_bl {
			-moz-border-radius-bottomleft:10px;
			-webkit-border-radius-bottomleft:10px;
			border-bottom-left-radius:10px;
		}
	
		.borda_br {
			-moz-border-radius-bottomright:10px;
			-webkit-border-radius-bottomrigth:10px;
			border-bottom-rigth-radius:10px;
		}
	/*Bordas*/
	
	/*Loader*/
		.loader {
			height: 24px;
			float:right;			
			margin:10px 35px 0 0;			
		}
		.loader1 {
			height: 24px;
			float:right;
			margin:43px 35px 0 0;
		}
	/*Loader*/

	/*Botão*/
		.botao {
			height:31px;
			background:url(../img/geral_bgr_botao.png) repeat;
			-moz-border-radius:4px; 
			-webkit-border-radius:4px; 
			border-radius:4px;
			cursor:pointer;
		}
		
		.botao p {
			font-family:"Arial";
			font-size:20px;
			color:#242B33;
			padding:4px 10px 0 10px;
		}
	/*Botão*/

	/*Rodapé*/
		.rodape {
			width:100%;
			height:100px;
			background:#39434F;
			padding:100px 0 0 0;
		}
		
		.rodape_conteudo {
			width:100%;
			height:100px;
			background:#242B33;
		}
		
		.rodape p {
			font-family:"Arial";
			font-size:12px;
			color:#FFF;
			float:right;
			padding:34px 24px 0 0;
			text-align:right;
			line-height:16px;
		}
		
		.rodape a {
			color:#FFF;
		}
		
		.rodape a:hover {
			text-decoration:underline;
		}
	/*Rodapé*/
	
	/*Topo*/
		.topo {
			background:url(../img/topo_bgr.png) repeat-x;
			min-height:130px;
		}
		
		.topo .box_logos {
			width:300px;
			float:left;
			padding:13px 0 0 43px;
		}
		
		.topo .box_logos .datamanager {
			margin:20px 0 12px -1px;
		}
		
		.topo .box_logado {
			height:100px;
			float:right;
			margin:15px 28px 0 0;
			background:url(../img/topo_bgr_logado.png) repeat-x;
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
			text-align:center;
		}
		
		.topo .box_logado h1 {
			font-family:"Arial";
			font-size:20px;
			color:#666B70;
			text-transform:uppercase;
			padding:37px 20px 7px 20px;
		}
		
		.topo .box_logado span {
			font-family:"Arial";
			font-size:20px;
			color:#FFFFFF;
		}
		
		.topo .box_logado p {
			font-family:"Arial";
			font-size:12px;
			color:#666B70;
		}
	/*Topo*/
	
	/*Conceitual*/
		.conceitual {
			height:69px;
			background:url(../img/conceitual_bgr.png) top repeat-x;
			padding:0 57px 0 0;
		}
		
		.conceitual li {
			min-width:120px;
			height:41px;
			float:right;
			-moz-border-radius-bottomleft:10px;
			-moz-border-radius-bottomright:10px;
			-webkit-border-radius-bottomleft:10px;
			-webkit-border-radius-bottomright:10px;
			border-bottom-left-radius:10px;
			border-bottom-right-radius:10px;
			margin:0 0 0 10px;
			text-align:center;
		}
		
		.conceitual a {
			font-family:"Arial";
			font-size:20px;
			color:#FFF;
			display:block;
			padding:8px 20px 9px 20px;
			font-weight:normal;
		}
		
		.conceitual a:hover {
			text-decoration:underline;
		}
		
		.conceitual .laranja {
			background:url(../img/conceitual_bgr_laranja.png) repeat-x;
		}
		
		.conceitual .vermelho {
			background:url(../img/conceitual_bgr_vermelho.png) repeat-x;
		}
		
		.conceitual .azul {
			background:url(../img/conceitual_bgr_azul.png) repeat-x;
		}
		
		.conceitual .cinza {
			background:url(../img/conceitual_bgr_cinza.png) repeat-x;
		}
	/*Conceitual*/
	
	/*Interna*/
		.interna {
			min-height: 450px;
			width:866px;
			background:url(../img/interna_bgr_divs.jpg) left top repeat-y;
			margin:0 0 0 10px;
			-moz-border-radius-bottomleft:12px;
			-webkit-border-radius-bottomleft:12px;
			border-bottom-left-radius:12px;
		}
		
		.menu {
			width:203px;
			margin:0 1px 0 0;
			float:left;
			background:#242B33;
			-moz-border-radius-topleft:12px;
			-moz-border-radius-bottomright:12px;
			-webkit-border-radius-topleft:12px;
			-webkit-border-radius-bottomright:12px;
			border-top-left-radius:12px;
			border-bottom-right-radius:12px;
		}
		
		.conteudo {
			min-height: 450px;
			width:662px;
			float:left;
			background:#242B33;
			-moz-border-radius-topright:12px;
			-webkit-border-radius-topright:12px;
			border-top-right-radius:12px;
		}
	/*Interna*/
	
/*Estrutura*/

/*Login*/
	.login_esq {
		width:392px;
		padding:11px 0 0 0;
		float:left;
	}
	
	.login_esq .w8s {
		margin:0 0 28px 123px;
	}
	
	.login_esq .sep {
		margin:0 0 21px 122px;
	}
	
	.login_esq .cliente {
		margin:0 0 20px 125px;
	}
	
	.login_esq .data_manager {
		margin:0 0 0 124px;
	}
	
	.login_dir {
		width:420px;
		float:left;
		padding:0 0 32px 0;
	}
	
	.login_dir .box {
		width:420px;
		height:270px;
		background:url(../img/login_bgr_box.png) no-repeat;
	}
	
	.login_dir .login {
		width:386px;
		height:215px;
		padding:55px 0 0 34px;
		position:absolute;
	}
	
	.login_dir .senha {
		padding:91px 0 0 34px;
	}
	
	.login_dir label {
		font-family:"Arial";
		font-size:20px;
		color:#FFF;
		padding:0 0 5px 1px;
		display:inline-block;
		letter-spacing:-1px;
	}
	
	.login_dir .inp {
		width:344px;
		height:28px;
		border:1px solid #C9C9C9;
		padding:0 0 1px 5px;
		margin:0 0 9px 0;
		font-family:"Arial";
		font-size:20px;
		color:#242B33;
		-moz-border-radius:3px; 
		-webkit-border-radius:3px; 
		border-radius:3px;
		background:#FFF;
	}
	
	.login_dir .check {
		border:1px solid #C9C9C9;
		float:left;
		-moz-border-radius:3px; 
		-webkit-border-radius:3px; 
		border-radius:3px;
		margin:23px 13px 0 1px;
		background:#FFF;
	}
	
	.login_dir .login .perdeu {
		font-family:"Arial";
		font-size:12px;
		color:#FFFFFF;
		float:left;
		padding:22px 0 0 0;
	}
	
	.login_dir .senha .voltar {
		font-family:"Arial";
		font-size:12px;
		color:#FFFFFF;
		float:left;
		padding:55px 0 0 0;
	}
	
	.login_dir .logar {
		float:right;
		border:1px solid #A8A8A8;
		margin:10px 35px 0 0;
	}
	
	.login_dir .enviar {
		float:right;
		border:1px solid #A8A8A8;
		margin:43px 35px 0 0;
	}
	
	.login_dir .login a {
		color:#FFFFFF;
	}
	
	.login_dir .senha a {
		color:#FFFFFF;
	}
	
	.login_dir .login a:hover {
		text-decoration:underline;
	}
	
	.login_dir .senha a:hover {
		text-decoration:underline;
	}
	
	.login_msg {
		width:640px;
		height:40px;
		background-color:#FFF;
		margin:0 0 0 146px;
		-moz-border-radius:10px; 
		-webkit-border-radius:10px; 
		border-radius:10px;
		background:url(../img/login_bgr_msg.png) repeat;
	}
	
	.login_msg p {
		font-family:"Arial";
		font-size:12px;
		color:#FFF;
		padding:12px 0 0 0;
		text-align:center;
	}
/*Login*/

/*Menu*/
	.menu ul {
		padding:6px 0 0 48px;
	}
	
	.menu ul ul {
		padding:0;
		text-align:right;
		padding:8px 0 2px 0;
	}
	
	.menu li {
		font-family:"Arial";
		font-size:14px;
		color:#666B70;
	}
	
	.menu li li {
		font-family:"Arial";
		font-size:12px;
		color:#FFFFFF;
		background:none;
	}
	
	.menu li a {
		height:21px;
		padding:8px 0 0 0;
		color:#666B70;
		display:block;
		background:url(../img/menu_sep.png) bottom right no-repeat;
	}
	
	.menu li li a {
		color:#FFFFFF;
		display:block;
		padding:0 4px 1px 0;
		background:none;
	}
	
	.menu li a:hover {
		text-decoration:underline;
	}
/*Menu*/

/*Conteúdo*/
	/*Geral*/
		.titulo {
			font-family:"Arial";
			font-size:20px;
			color:#FFF;
			padding:10px 0 9px 11px;
		}
		
		.titulo span {
			display:inline-block;
		}
		
		.titulo img {
			display:inline-block;
			margin:5px 4px 0 5px;
		}
		
		.geral_box {
			background:url(../img/geral_bgr.png) 81px 6px no-repeat;
			padding:11px 0 4px 5px;
		}
		
		.geral_box div {
			width:326px;
			height:173px;
			float:left;
			margin:0 1px 1px 0;
		}
		
		.geral_box div h1 {
			font-family:"Arial";
			font-size:20px;
			color:#FFF;
			text-align:center;
			padding:23px 0 0 0;
		}
		
		.geral_box div img {
			float:left;
			margin:6px 17px 0 17px;
		}
		
		.geral_box div p {
			font-family:"Arial";
			font-size:12px;
			color:#FFF;
			float:left;
			padding:28px 0 0 0;
			line-height:18px;
		}
		
		.geral_box div a {
			color:#FFF;
		}
		
		.geral_box div a:hover {
			text-decoration:underline;
		}
	/*Geral*/
	
	/*Boxes*/
		.interna_box_cinza {
			width:620px;
			padding:10px;
			background: url(../img/interna_bgr_box_cinza.png);
			-moz-border-radius:10px; 
			-webkit-border-radius:10px; 
			border-radius:10px;
			margin:0 0 9px 11px;
		}
		
		.interna_box_cinza2 {
			width:598px;
			padding:10px;
			background: url(../img/interna_bgr_box_cinza2.png);
			-moz-border-radius:10px; 
			-webkit-border-radius:10px; 
			border-radius:10px;
			margin:0 0 9px 21px;
		}
		
		.interna_box_cinza2 img {
			margin:4px 0 0 2px;
			float:left;
		}
		
		.interna_box_cinza2 span {
			font-family:"Arial";
			font-size:12px;
			display:block;
			color:#8C8F93;
			float:left;
			padding:3px 10px 0 2px;
		}
		
		.interna_box_cinza2 p {
			font-family:"Arial";
			font-size:12px;
			color:#FFFFFF;
			text-align:left;
			padding:0 10px;
		}
	/*Boxes*/
	
	/*Forms*/
		.conteudo label {
			width:296px;
			padding:0 0 4px 23px;
			font-family:"Arial";
			font-size:20px;
			color:#FFF;
			display:inline-block;
		}
		
		.conteudo .inpG {
			width:613px;
			height:29px;
			border-left:1px solid #A8A8A8;
			border-top:1px solid #A8A8A8;
			border-bottom:1px solid #C9C9C9;
			border-right:1px solid #C9C9C9;
			-moz-border-radius:5px; 
			-webkit-border-radius:5px; 
			border-radius:5px;
			background:#FFF;
			margin:0 0 10px 21px;
			font-family:"Arial";
			font-size:16px;
			color:#242B33;
			padding:0 0 0 5px;
		}
		
		.conteudo .inpGM {
			width:405px;
			height:29px;
			border-left:1px solid #A8A8A8;
			border-top:1px solid #A8A8A8;
			border-bottom:1px solid #C9C9C9;
			border-right:1px solid #C9C9C9;
			-moz-border-radius:5px; 
			-webkit-border-radius:5px; 
			border-radius:5px;
			background:#FFF;
			margin:0 0 10px 21px;
			font-family:"Arial";
			font-size:16px;
			color:#242B33;
			padding:0 0 0 5px;
			float:left;
		}
		
		.conteudo .inpM {
			width:293px;
			height:29px;
			border-left:1px solid #A8A8A8;
			border-top:1px solid #A8A8A8;
			border-bottom:1px solid #C9C9C9;
			border-right:1px solid #C9C9C9;
			-moz-border-radius:5px; 
			-webkit-border-radius:5px; 
			border-radius:5px;
			background:#FFF;
			margin:0 -1px 10px 21px;
			font-family:"Arial";
			font-size:16px;
			color:#242B33;
			padding:0 0 0 5px;
			float:left;
		}
		
		.conteudo .inpBox {
			width:514px;
			height:29px;
			border-left:1px solid #A8A8A8;
			border-top:1px solid #A8A8A8;
			border-bottom:1px solid #C9C9C9;
			border-right:1px solid #C9C9C9;
			-moz-border-radius:5px; 
			-webkit-border-radius:5px; 
			border-radius:5px;
			background:#FFF;
			margin:0 10px 0 0;
			font-family:"Arial";
			font-size:16px;
			color:#242B33;
			padding:0 0 0 5px;
			float:left;
		}
		
		.conteudo .inpP {
			width:203px;
			height:29px;
			border-left:1px solid #A8A8A8;
			border-top:1px solid #A8A8A8;
			border-bottom:1px solid #C9C9C9;
			border-right:1px solid #C9C9C9;
			-moz-border-radius:5px; 
			-webkit-border-radius:5px; 
			border-radius:5px;
			background:#FFF;
			margin:0 10px 10px 21px;
			font-family:"Arial";
			font-size:16px;
			color:#242B33;
			padding:0 0 0 5px;
		}
		
		.conteudo .inpPP {
			width:176px;
			height:29px;
			border-left:1px solid #A8A8A8;
			border-top:1px solid #A8A8A8;
			border-bottom:1px solid #C9C9C9;
			border-right:0;
			-moz-border-radius-topleft:5px;
			-webkit-border-radius-topleft:5px;
			border-top-left-radius:5px;
			-moz-border-radius-bottomleft:5px;
			-webkit-border-radius-bottomleft:5px;
			border-bottom-left-radius:5px;
			background:#FFF;
			margin:0 0 10px 21px;
			font-family:"Arial";
			font-size:16px;
			color:#242B33;
			padding:0 0 0 5px;
			float:left;
		}
	/*Forms*/
	
	.subtitulo {
		font-family:"Arial";
		font-size:20px;
		color:#FFFFFF;
		padding:3px 14px 13px 24px;
	}
	
	.conceitual_imagens {
		padding:0 0 0 21px;
	}
	
	.conceitual_imagens .imagem {
		width:146px;
		height:82px;
		background:url(../img/conceitual_bgr_carregando.jpg) no-repeat #00C;
		float:left;
		margin:0 10px 10px 0;
		overflow: hidden; 
		position: relative; 
	}
	
	.conceitual_imagens .imagem img {
		border:1px solid #A8A8A8;
		display:block;
	}
	
	.conceitual_imagens .imagem .links {
		width:148px;
		height:0px;
		background:url(../img/conceitual_bgr_links.png);
		position:absolute;
		float:left;
		bottom:0;
	}
	
	.conceitual_imagens .imagem .links p {
		font-family:"Arial";
		font-size:12px;
		color:#FFF;
		text-align:center;
	}
	
	.conceitual_imagens .imagem .links a {
		display:inline-block;
		padding:2px 11px 0 11px;
		color:#FFF;
	}
	/*Mensagens, Botões, Criado e Voltar*/
		.salvar {
			float:right;
			margin:25px 21px 34px 0;
		}
		
		.cancelar {
			float:right;
			margin:25px 10px 34px 0;
		}
		
		.interna_msg {
			width:640px;
			height:40px;
			background-color:#FFF;
			-moz-border-radius:10px; 
			-webkit-border-radius:10px; 
			border-radius:10px;
			background:url(../img/login_bgr_msg.png) repeat;
			margin:0 0 0 11px;
		}
	
		.interna_msg p {
			font-family:"Arial";
			font-size:12px;
			color:#FFF;
			padding:12px 0 0 0;
			text-align:center;
		}
		
		.interna_criado {
			float:left;
			font-family:"Arial";
			font-size:14px;
			color:#666B70;
			padding:20px 0 14px 12px;
		}
		
		.interna_voltar {
			float:right;
			font-family:"Arial";
			font-size:14px;
			color:#666B70;
			cursor:pointer;
			padding:20px 12px 14px 0;
		}
		
		.interna_voltar:hover {
			text-decoration:underline;
		}
	/*Mensagens, Botões, Criado e Voltar*/
	
	/*Tabela da lista*/
		.tbl_lista {
			width:640px;
			font-family:"Arial";
			vertical-align:middle;
			margin:6px 0 20px 11px;
		}

		.tbl_lista thead td {
			background:#39434F;
			font-size:14px;
			color:#FFFFFF;
			height:30px;
			text-align:left;
			padding:0 10px;
		}

		.tbl_lista tbody td {
			font-size:12px;
			color:#242B33;
			padding:5px 10px;
			border-bottom:1px solid #39434F;
		}
		
		.tbl_lista .c1 {
			background:#CCCCCC;
		}
		
		.tbl_lista .c2 {
			background:#E3E3E3;
		}

		.tbl_lista tbody tr:hover td {
			color:#FFF;
		}

		.tbl_lista thead span {
			float:left;
			display:inline-block;
			padding:0 0 0 8px;
		}

		.tbl_lista thead input {
			float:right;
			display:inline-block;
			margin:2px 5px 0 0;
		}

		.tbl_lista tbody img {
			float:left;
			margin:0 10px 0 0;
		}

		.tbl_lista tbody input {
			float:left;
			margin:6px 0 6px 0;
		}

		.tbl_lista label {
			font-family:"Arial";
			vertical-align:middle;
			font-size:12px;
			color:#242B33;
			display:inline-block;
			padding:4px 5px;
			float:left;
			width:auto;
		}

		.tbl_lista span {
			font-weight:bold;
		}

		.tbl_lista td:hover label {
			color:#FFF;
		}

		.tbl_lista label:hover {
			text-decoration:underline;
			cursor:pointer;
		}

		.tbl_lista tbody strong {
			color:#F25900;
			text-transform:uppercase;
			font-size:14px;
		}

	/*Tabela da lista*/
	
	.editor {
		width:618px;
		height:258px;
		margin:0 0 10px 22px;
	}
	
	.adicionar {
		height:24px;
		float:right;
		margin:0 21px 0 0;
	}
	
	.adicionar p {
		padding:0 7px;
	}
	
	.acordion_lista {
		padding:5px 11px 20px 11px;
	}
	
	.configurar_check {
		float:left;
		margin:10px 0 10px 24px;
	}
	
	.configurar_p {
		float:left;
		font-family:"Arial";
		font-size:12px;
		color:#FFF;
		padding:9px 0 0 10px;
	}
	
	.btn_mais {
		float:left;
		margin:0 10px 0 0;
		-moz-border-radius-topright:5px;
		-webkit-border-radius-topright:5px;
		border-top-right-radius:5px;
		-moz-border-radius-bottomright:5px;
		-webkit-border-radius-bottomright:5px;
		border-bottom-right-radius:5px;
		-moz-border-radius-topleft:0;
		-webkit-border-radius-topleft:0;
		border-top-left-radius:0;
		-moz-border-radius-bottomleft:0;
		-webkit-border-radius-bottomleft:0;
		border-bottom-left-radius:0;
		border-top:1px solid #A8A8A8;
		border-bottom:1px solid #C9C9C9;
		height:29px;
	}
	
	.btn_config {
		margin:0 0 0 10px;
		float:left;
	}
	
	.impGM_img {
		float:left;
		margin:-20px 0 0 20px;
	}
/*Conteúdo*/
