
#slider-wrapper .bx-wrapper,
#slider-wrapper .bx-window {
  float: left;
  height: 480px !important;
  width: 960px !important;
}

.planosAccShout .table th {
  padding: 12px 1px;
}

.planosWma .table th,
.planosWonline .table th {
  padding: 12px 5px;
}

.tipoStreaming .table th {
  padding: 15px 20px;
}

.planosAccShout tbody td a {
  padding-top: 6px;
}
