#section-footer {
  width: 960px !important;
}

.inst-links {
  height: 20px;
}

.inst-links:hover {
  border-bottom: 1px solid #878988;
  height: 19px;
}

.last-column > .inst-links:hover {
  border-bottom: none;
  height: 20px;
}

.table th {
  padding: 10px 20px;
}

.tipoStreaming .table th {
  padding: 15px 20px;
}

.planosWma .table th,
.planosWonline .table th {
  padding: 12px 5px;
}

.auto-dj .containerBox:hover .text-container .title,
.duvidas .containerBox:hover .text-container .title,
.administravel .containerBox:hover .text-container .title,
.visit .containerBox:hover .text-container .title {
  border-bottom: 1px solid #494949;
  margin: 0 0 1.25em;
  width: 139px;
}

#w8s-group > p {
  width: 230px;
}
.administravel .containerBox:hover .text-container .title {
  width: 237px !important;
}

.services .containerBox:hover .title {
  cursor: default !important;
  border: 0 none !important;
  margin: 0 0 1em !important;
}

.visit .containerBox:hover .text-container .title {
  width: 175px;
}

.bars.tmiddle > textarea {
  line-height: 120%;
}
