#main {
 padding-bottom: 370px; 
}

#nav-wrapper ul#nav li {
  margin-top: 1.5em;
}

.input-searcharea {
  height: 28px;
  padding-top: 4px;
}

.bg-colors .text-container .title {
  margin-bottom: 0.8em;
}

.auto-dj .containerBox:hover .text-container .title,
.duvidas .containerBox:hover .text-container .title,
.administravel .containerBox:hover .text-container .title,
.visit .containerBox:hover .text-container .title {
  border-bottom: 1px solid #494949;
  margin: 0 0 .75em;
  width: 139px;
}

.administravel .containerBox:hover .text-container .title {
  width: 237px !important;
}

.services .containerBox:hover .title {
  cursor: default !important;
  border: 0 none !important;
  margin: 0 0 1em !important;
}

.visit .containerBox:hover .text-container .title {
  width: 175px;
}

#section-footer {
  width: 960px !important;
}

.inst-links {
  height: 20px;
}

.inst-links:hover {
  border-bottom: 1px solid #878988;
  height: 19px;
}

.last-column > .inst-links {
  width: 100%;
}

.last-column > .inst-links:hover {
  border-bottom: none;
  height: 20px;
}

#w8s-group {
  margin-top: 15px;
}

.table th {
  padding: 10px 20px;
}

.table tbody td {
  border-top: 1px solid #f0f1f1;
  border-bottom: 1px solid #cacbcb;
}

.table tbody .lastItem td {
  border: 0;
}

.tipoStreaming .table th {
  padding: 15px 20px;
}

.planosAccShout .table th {
  padding-bottom: 4px;
}

.planosWma .table th,
.planosWonline .table th {
  padding: 10px 5px;
}

.bmiddle > input, .bmiddle-min > input {
  height: 29px;
  padding-top: 13px;
}

.bars.tmiddle > textarea {
  line-height: 120%;
}

div.sexy li {
  height: 29px;
  padding-top: 13px;
}

div.sexy input {
  height: 29px !important;
  margin-top: 13px !important;
}

#menu-lateral li a:hover, #menu-lateral li a.active {
  padding-left: 0;
  margin-left: 9px;
}

.ml-bottom {
  padding-bottom:11px;}

.dropdow-container header {
  width: 842px;
}

.dropdow-container header a h1 .bt-control {
  margin: -35px -20px 5px 0;
}

.form-left,
.form-right {
 margin-bottom: 16px;  
}
