#nav-wrapper ul#nav li {
  margin-top: 1.7em;
}

.input-searcharea {
  height: 86%;
  padding-top: 4px;
}

#section-footer {
  width: 960px !important;
}

.inst-links {
  height: 20px;
}

.inst-links:hover {
  border-bottom: 1px solid #878988;
  height: 19px;
}

.last-column > .inst-links:hover {
  border-bottom: none;
  height: 20px;
}

.table th {
  padding: 10px 20px;
}

.tipoStreaming .table th {
  padding: 15px 20px;
}

.planosWma .table th,
.planosWonline .table th {
  padding: 12px 5px;
}

.bg-colors .text-container .title {
  margin-bottom: .8em;
}

.auto-dj .containerBox:hover .text-container .title,
.duvidas .containerBox:hover .text-container .title,
.administravel .containerBox:hover .text-container .title,
.visit .containerBox:hover .text-container .title {
  border-bottom: 1px solid #494949;
  margin: 0 0 .75em;
  width: 139px;
}

.administravel .containerBox:hover .text-container .title {
  width: 237px !important;
}

.services .containerBox:hover .title {
  cursor: default !important;
  border: 0 none !important;
  margin: 0 0 1em !important;
}

.visit .containerBox:hover .text-container .title {
  width: 175px;
}

.planosAccShout .table th {
  padding-bottom: 12px;
  padding-top: 12px;
}

.bmiddle > input, .bmiddle-min > input {
  height: 29px;
  padding-top: 13px;
}

.bars.tmiddle > textarea {
  line-height: 120%;
}

div.sexy li {
  height: 29px;
  padding-top: 13px;
}

div.sexy input {
  height: 29px !important;
  margin-top: 13px !important;
}
