@font-face {
  font-family: 'AvantGard LT CondMedium';
  src: local('AvantGard LT CondMedium'), url('../../fonts/ITC Avant Garde Gothic LT Condensed Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'AvantGard LT CondMedium Bold';
  src: local('AvantGard LT CondMedium Bold'), url('../../fonts/ITC Avant Garde Gothic LT Condensed Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'AvantGarde LT CondBook';
  src: local('AvantGarde LT CondBook'), url('../../fonts/ITC Avant Garde Gothic LT Condensed Book.ttf') format('truetype');
}

.roundedCorner(@tL: 5px, @tR: 5px, @bR: 5px, @bL: 5px) {
  -moz-border-radius-topleft: @tL;
  -webkit-border-top-left-radius: @tL;
   border-top-left-radius: @tL;
  -moz-border-radius-topright: @tR;
  -webkit-border-top-right-radius: @tR;
  border-top-right-radius: @tR;
  -moz-border-radius-bottomright: @bR;
  -webkit-border-bottom-right-radius: @bR;
  border-bottom-right-radius: @bR;
  -moz-border-radius-bottomleft: @bL;
  -webkit-border-bottom-left-radius: @bL;
  border-bottom-left-radius: @bL; 
}

.font01 {
  font-family: 'AvantGard LT CondMedium', sans-serif;
}

.font02 {
  font-family: 'AvantGard LT CondMedium Bold', sans-serif;
}

.font03 {
  font-family: Arial, Helvetica, sans-serif;
}

.font04 {
  font-family: 'AvantGarde LT CondBook', sans-serif;
}

/* Resets */
html,
body {
  background: url(../../img/bgs/bg-body.jpg) repeat center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  min-height: 100%;
  height: 100%;
  line-height: 120%;
  margin: 0;
  padding: 0;
  min-width: 960px;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 100%;
  margin: 0;
  padding: 0;
}

a,
a:hover,
a:link,
a:visited {
  text-decoration: none;
  outline: 0 none;
}

input,
textarea {
  color: #494949;
  outline: none;
}

.input-file {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  border: solid transparent;
  border-width: 0 0 200px 500px;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transform: translate(-300px, 0) scale(4);
  direction: ltr;
  cursor: pointer;
  z-index: 99999;
}

/* END: Resets */

/* Main Structure */
#wrapper {
  float: left;
  min-height: 100%;
  position: relative;
  min-width: 960px;
  width: 100%;
  z-index: 1;
}

  #main {
    float: left;
    position: relative;
    overflow: auto;
    padding-bottom: 321px;
    width: 100%;
  }

    #header-wrapper {
      background: #066caa url(../../img/bgs/bg-header.png) no-repeat center;
      float: left;
      height: 480px;
      width: 100%;
      z-index: 5;
    }
    
    .internal #header-wrapper {
      background: transparent url(../../img/bgs/bg-header-internas.png) no-repeat center;
      height: 350px;
      padding-bottom: 14px;
      position: relative;
    }

    #carousel-wrapper {
      background: url(../../img/bgs/bg-concept.png) repeat-x center;
      float: left;
      height: 160px;
      width: 100%;
    }

    #content-wrapper {
      background: url(../../img/bgs/bg-menu-infos-close.png) repeat-x center top;
      float: left;
      min-height: 54px;
      padding-top: 25px;
      position: relative;
      width: 100%;
    }
    
    #content-wrapper.opened {
      background: url(../../img/bgs/bg-menu-infos-open.png) repeat-x center top;
    }
    
    .internal #content-wrapper {
      background: transparent;
      padding: 0;
      margin: -13px 0 0 0;
      z-index: 1;
    }

      #menu-infos {
        height: 55px;
        left: 50%;
        margin: 0 0 0 -480px;
        position: absolute;
        top: 0;
        width: 960px;
        z-index: 4;
      }

      #content-infos,
      .wrapper {
        float: left;
        padding-top: 30px;
        position: relative;
        width: 100%;
        z-index: 3;
      }

      .wrapper {
        background: transparent url(../../img/bgs/shadow.png) repeat-x center top;
        padding-top: 46px;
        z-index: 2;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
      }
      
      .internal .wrapper {
        background: transparent;
        padding: 0;
        -moz-transition: all 0.2s linear;
        -webkit-transition: all 0.2s linear;
        transition: all 0.2s linear;
      }

      .wrapper.open {
        background: url(../../img/bgs/bg-body.jpg) repeat-x center top;
        margin-top: 0;
        padding-top: 29px;
      }
      
      #content {
        margin: 0 auto;
        width: 960px;
      }
      
      .internal #content .content-bottom {
        background: url(../../img/bgs/bg-content-bottom.png) no-repeat 0 100%;
        margin: 0 auto;
        margin-bottom: 20px;
        padding: 0 0 11px;
        width: 948px;
      }
      
      .internal #content .content-bottom .content {
        background: url(../../img/bgs/bg-content.png) repeat-y 0 50%;
        float: left;
        padding: 40px 24px 0 24px;
        width: 900px;
      }

#footer-wrapper {
  background: url(../../img/bgs/bg-footer.jpg) repeat-x center;
  clear:both;
  float: left;
  height: 320px;
  margin-top: -320px;
  position: relative;
  width: 100%;
  z-index: 2;
}

#footer {
  display: block;
  margin: 0 auto;
  width: 960px;
}

#section-footer {
  float: left;
  margin: 28px 0 0 11px;
  position: relative;
  width: 949px;
}

#section-footer > article {
  float: left;
  position: relative; 
}

#section-footer > article > header {
  background-repeat: no-repeat;
  float: left;
  height: 25px;
  margin-bottom: 22px;
  min-width: 116px;
  position: relative;
  text-indent: -1000em;
}

#section-footer > article > header.instTitle {
  background-image: url(../../img/misc/ttf-institucional.png);
}

#section-footer > article > header.solucTitle {
  background-image: url(../../img/misc/ttf-solucoes.png);
}

#section-footer > article > header.atendTitle {
  background-image: url(../../img/misc/ttf-atendimento.png);
}

.inst-links {
  clear: both;
  color: #f4f5f6;
  font-size: 1.2em;
  line-height: 19px;
  float: left;
  margin-bottom: 1.6em;
  position: relative;
}

.inst-links:hover {
  text-decoration: underline;
}

.last-column {
  margin-top: 68px;
}

.last-column > .inst-links {
  font-size: 1.4em;
}

.last-column > .inst-links:hover {
  text-decoration: none !important;
}

.footer-separator {
  background: url(../../img/bgs/footer-separator.png) no-repeat;
  float: left;
  height: 130px;
  margin: 57px 45px 0 45px;
  position: relative;
  width: 2px;
}

#w8s-group {
  float: right;
  position: relative;
  width: 100%;
}

#w8s-group > p {
  background: url(../../img/icons/register.png) no-repeat left 3px;
  color: #f4f5f6;
  font-size: 1.1em;
  letter-spacing: -0.015em;
  line-height: 19px;
  margin: 44px auto 0;
  padding: 0 0 0 13px;
  position: relative;
  text-align: center;
  width: 215px;
}

.mac #w8s-group > p {
  width: 230px;
}

.w8slogo {
  float: right;
  margin: -20px 8px 0 0;
  position: relative;
}
/* END: Main Structure */

/* Header */
#header {
  height: 480px;
  margin: 0 auto;
  position: relative;
  width: 960px;
}

.internal #header {
  height: 350px;
}

#header ol,
#header ol li,
#header ul,
#header ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}

#header .content {
  float: left;
  position: relative;
  width: 100%;
  z-index: 2;
}

.internal #header .content {
  margin-bottom: 10px;
}

#logo {
  background: url(../../img/logos/logo-radios.png) no-repeat center;
  cursor: pointer;
  display: block;
  float: left;
  height: 120px;
  margin: 30px 10px 0;
  width: 173px;
}

#logo h1 {
  display: block;
  height: 120px;
  text-indent: -1000em;
  width: 173px; 
}

ul#contact-phones {
  color: #fff;
  float: left;
  font-size: 13px;
  margin: 30px 0 0 3px;
}

ul#contact-phones li {
  float: left;
  margin: 0 0 0 20px;
}

#chat {
  background: url(../../img/misc/chat-oline.png) no-repeat center;
  display: block;
  float: right;
  height: 42px;
  margin: 10px 10px 0 0;
  width: 136px;
}

#chat p {
  display: block;
  text-indent: -1000em;
}

#nav-wrapper {
  float: left;
  margin: 20px 0 0 0;
  width: 756px;
}

#nav-wrapper .bg-left {
  background: url(../../img/bgs/bg-menu-left.png) repeat-x center;
  float: left;
  height: 53px;
  width: 10px;
}

#nav-wrapper .bg-right {
  background: url(../../img/bgs/bg-menu-right.png) repeat-x center;
  float: left;
  height: 53px;
  width: 10px;
}

#nav-wrapper ul#nav {
  background: url(../../img/bgs/bg-menu.png) repeat-x center;
  float: left;
  height: 53px;
  width: 736px;
}

#nav-wrapper ul#nav li {
  float: left;
  margin: 1.9em 2.4em 0 0 ;
}

#nav-wrapper ul#nav li.first {
  margin-left: 20px;
}

#nav-wrapper ul#nav li.last {
  margin-right: 0;
}

#nav-wrapper ul#nav li a {
  color:  #fff;
  font-size: 18px;
  outline: 0 none;
  -moz-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  -webkit-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}

#nav-wrapper ul#nav li a:hover,
#nav-wrapper ul#nav li a.active {
  color: #494949;
}

#header #slider-wrapper {
  float: left;  
  height: 480px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

#header #slider-wrapper ul#slider {
  height: 480px;
  float: left;
  list-style: none;
  margin: 0;
  position: relative;
  padding: 0;
  width: 960px;
  overflow: hidden;
}

#header #slider-wrapper ul#slider li {
  float: left;
  outline: none;
  text-align: center;
  width: 960px;
}

#header #slider-wrapper ul#slider li img {
  display: block;
  margin: 0 auto;
}

#header #slider-wrapper ul#slider li a {
  cursor: pointer;
  outline: none;
}

#header #slider-paginator {
  bottom: 10px;
  float: left;  
  padding: 0 20px 0 0;
  position: absolute;
  right: 0;
  text-align: right;
  width: 940px;
  z-index: 9999;
}

#header #slider-paginator a {
  background: url(../../img/buttons/bt-paginador.png) no-repeat 108% 0;
  color: transparent;
  display: inline-block;
  height: 0;
  padding: 18px 0 0 0;
  overflow: hidden;
  width: 23px;
}

#header #slider-paginator a.pager-active {
  background-position: 3px 0;
}

.page-title {
  bottom: 0;
  display: block;
  left:0;
  position: absolute;
  z-index: 1;
}

.page-title span {
  display: block;
  text-indent: -1000em;
}

.enterprise .page-title {
  background: url(../../img/misc/ttl-empresa.png) no-repeat center;
  height: 255px;
  width: 583px;
}

.servers .page-title {
  background: url(../../img/misc/ttl-servidores.png) no-repeat center;
  height: 254px;
  width: 480px;
}

.services .page-title {
  background: url(../../img/misc/ttl-servicos.png) no-repeat center;
  height: 218px;
  width: 411px;
}

.internal.services #content .content-bottom .content {
  padding-top: 28px;
}

.payment .page-title {
  background: url(../../img/misc/ttl-pagamento.png) no-repeat center;
  height: 213px;
  width: 408px;
}

.news .page-title {
  background: url(../../img/misc/ttl-noticias.png) no-repeat center;
  height: 187px;
  width: 408px;
}

.faq .page-title {
  background: url(../../img/misc/ttl-faq.png) no-repeat center;
  height: 187px;
  width: 408px;
}

.contact .page-title {
  background: url(../../img/misc/ttl-contato.png) no-repeat center;
  height: 217px;
  width: 410px;
}

.cadastro .page-title {
  background: url(../../img/misc/ttl-cadastro.png) no-repeat center;
  height: 213px;
  width: 410px;
}

.header-right {
  float: right;
  min-width: 538px;
  position: relative;
  z-index: 5;
}

.separator {
  background: url(../../img/misc/separator.png) no-repeat center;
  display: block;
  float: left;
  height: 129px;
  margin-top: 11px;
  position: relative;
  width: 32px;
  z-index: 2;
}

.separator.one {
  margin-left: -33px;
}

.separator.two {
  background: url(../../img/misc/separator-2.png) no-repeat center;
  margin-left: -5px;
}
/* END: Header */

/* Radio Player */
#radio-player {
  background: url(../../img/bgs/base-radio.png) no-repeat;
  float: left;
  height: 73px;
  margin: 37px 0 0 9px;
  position: relative;
  width: 202px;
}

#radio-player .bt-radio,
#radio-player .bt-radio.play {
  background: url(../../img/buttons/play-stop.png) no-repeat 100% 100%;
  color: transparent;
  display: block;
  float: left;
  height: 44px;
  left: 6px;
  margin: -22px 0 0 0;
  position: absolute;
  top: 50%;
  width: 44px;
}

#radio-player .bt-radio.play:hover {
  background-position: 100% 0;
}

#radio-player .bt-radio.play:active {
  background-position: 100% 50%;
}

#radio-player .bt-radio {
   background-position: 0 100%;
}

#radio-player .bt-radio:hover {
  background-position: 0 0;
}

#radio-player .bt-radio.play:active {
  background-position: 0 50%;
}

#radio-player .logo-player {
  float: left;
  margin: 13px 0 0 60px
}

#radio-player .bt-redes-sociais {
  background: url(../../img/icons/redes-sociais.png) no-repeat 0 100%;
  display: block;
  float: left;
  height: 17px;
}

#radio-player .bt-redes-sociais span {
  display: block;
  text-indent: -1000em;
}

#radio-player .bt-redes-sociais.twitter {
  margin: 30px 0 0 25px;
  width: 21px;
}

#radio-player .bt-redes-sociais.facebook {
  background-position: 100% 100%;
  margin: 30px 0 0 0;
  width: 17px;
}

#radio-player .bt-redes-sociais.twitter:hover {
  background-position: 0 0;
}

#radio-player .bt-redes-sociais.facebook:hover {
  background-position: 100% 0;
}
/* END: Radio Player */

/* Carousel - Subconcetual */
#carousel-main {
  height: 160px;
  margin: 0 auto;
  width: 960px;
  overflow: hidden;
}

#carousel-main .jcarousel-container-horizontal {
  float: left;
  height: 160px;
  width: 100%;
  overflow: hidden;
}

#carousel-main .jcarousel-clip-horizontal {
  float: left;
  margin: 0 0 0 31px;
  width: 876px;
  overflow: hidden;
}

#carousel-main .jcarousel-prev-horizontal,
#carousel-main .jcarousel-prev-disabled-horizontal,
#carousel-main .jcarousel-next-horizontal,
#carousel-main .jcarousel-next-disabled-horizontal {
  background: url(../../img/buttons/bt-carousel-paginador.png) no-repeat 0 100%;
  cursor: pointer;
  display: block;
  float: left;
  height: 25px;
  position: absolute;
  top: 71px;
  width: 15px;
}

#carousel-main .jcarousel-prev-horizontal {
  left: 0;
}

#carousel-main .jcarousel-prev-horizontal:hover {
  background-position: 0 0;
}

#carousel-main .jcarousel-prev-disabled-horizontal,
#carousel-main .jcarousel-prev-disabled-horizontal:hover {
  background-position: 0 50% !important;
  cursor: default;
  left: 0;
}

#carousel-main .jcarousel-next-horizontal {
  background-position: 100% 100%;
  right: 0;
}

#carousel-main .jcarousel-next-horizontal:hover {
  background-position: 100% 0;
}

#carousel-main .jcarousel-next-disabled-horizontal,
#carousel-main .jcarousel-next-disabled-horizontal:hover {
  background-position: 100% 50%;
  cursor: default !important;
  right: 0;
}

#carousel-main #carousel {
  float: left;
  list-style: none;
  margin: 0 0 0 31px;
  padding: 0;
  width: 100%;
}

#carousel-main .jcarousel-container-horizontal #carousel {
  margin: 0;
}

#carousel-main #carousel li {
  float: left;
  width: 33.33%;
  max-width: 292px;
}

#carousel-main #carousel li .content {
  float: left;
  max-height: 121px;
  padding: 39px 0 0;
  width: 100%;
}

#carousel-main #carousel li .content img {
  float: left;
}

#carousel-main #carousel li .content .container {
  color: #494949;
  float: left;
  margin: 0 0 0 15px;
  max-width: 178px;
}

#carousel-main #carousel li .content .container .title,
#carousel-main #carousel li .content .container .title a {
  color: #494949;
  font-size: 18px;
  font-weight: normal;
  line-height: 110%;
  margin: 8px 0 5px;
  text-transform: uppercase;
}

#carousel-main #carousel li .content .container .description,
#carousel-main #carousel li .content .container .description a {
  color: #494949;
  .font03;
  font-size: 13px;
  font-weight: normal;
  line-height: 110%;
}

#carousel-main #carousel li .content .icon.hd {
  margin-top: 15px;
}

#carousel-main #carousel li .content .icon.gears {
  margin-top: 7px;
}
/* END: Carousel - Subconcetual */

/* Carousel - Internas */
#carousel-wrapper-internal {
  float: left;
  height: 90px;
  margin: 38px 0 0 -10px;
  position: relative;
  overflow: hidden;
  width: 300px;
  z-index: 3;
}

#carousel-wrapper-internal #carousel-internal {
  float: left;
  height: 90px !important;
  position: relative;
  overflow: hidden;
  margin: 0 0 0 28px;
  width: 245px;
}

#carousel-wrapper-internal .jcarousel-container-horizontal {
  float: left;
  height: 90px !important;
  position: relative;
  width: 300px;
}

#carousel-wrapper-internal .jcarousel-container-horizontal .jcarousel-clip-horizontal {
  float: left;
  height: 90px;
  margin: 13px 0 0 28px;
  overflow: hidden;
  width: 245px;
}

#carousel-wrapper-internal .jcarousel-container-horizontal .jcarousel-clip-horizontal #carousel-internal {
  height: 61px;
  margin: 0;
}

#carousel-internal li {
  float: left;
  width: 245px;
}

#carousel-internal li .content {
  float: left;
  margin: 0;
  width: 100%;
}

#carousel-internal li .content .img-container {
  float: left;
  margin-right: 10px;
  position: relative;
  width: 89px;
}

#carousel-internal li .content .img-container img {
  display: block;
  max-height: 52px;
  margin: 0 auto;
}

// #carousel-internal li .content .icon {
  // float: left;
  // margin: 0 10px 0 0;
// }


#carousel-internal li .content .container {
  color: #fff;
  float: left;
  font-size: 13px;
  font-weight: normal;
  width: 145px;
}

#carousel-internal li .content .container .description {
  line-height: 120%;
}

#carousel-wrapper-internal .jcarousel-prev-horizontal,
#carousel-wrapper-internal .jcarousel-prev-disabled-horizontal,
#carousel-wrapper-internal .jcarousel-next-horizontal,
#carousel-wrapper-internal .jcarousel-next-disabled-horizontal {
  background: url(../../img/buttons/bt-carousel-internas.png) no-repeat 0 100%;
  cursor: pointer;
  display: block;
  float: left;
  height: 25px;
  position: absolute;
  top: 27px;
  width: 15px;
}

#carousel-wrapper-internal .jcarousel-prev-horizontal {
  left: 0;
}

#carousel-wrapper-internal .jcarousel-prev-horizontal:hover {
  background-position: 0 0;
}

#carousel-wrapper-internal .jcarousel-prev-disabled-horizontal,
#carousel-wrapper-internal .jcarousel-prev-disabled-horizontal:hover {
  background-position: 0 50%;
  cursor: default;
  left: 0;
}

#carousel-wrapper-internal .jcarousel-next-horizontal {
  background-position: 100% 100%;
  right: 0;
}

#carousel-wrapper-internal .jcarousel-next-horizontal:hover {
  background-position: 100% 0;
}

#carousel-wrapper-internal .jcarousel-next-disabled-horizontal,
#carousel-wrapper-internal .jcarousel-next-disabled-horizontal:hover {
  background-position: 100% 50%;
  cursor: default;
  right: 0;
}
/* END: Carousel - Internas */

/* Infos */
.animationMenu {
  -webkit-transition: all 0.2s linear;
	-moz-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}

#menu-infos > ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

#menu-infos > ul > li {
  float: left;
  margin: 0;
  width: 173px;
}

#menu-infos > ul > li.first {
  margin-left: 50px;
}

#menu-infos > ul > li > a {
  background: url(../../img/buttons/menu-infos.png) no-repeat 0 0;
  display: block;
  color: transparent;
  float: left;
  height: 44px;
  width: 173px;
  .animationMenu;
}

#menu-infos > ul > li > a > span {
  background: url(../../img/buttons/menu-infos-text.png) no-repeat 0 -1px;
  display: block;
  float: left;
  height: 0;
  padding: 22px 0 0 0;
  text-indent: -1000em;
  .animationMenu;
}

#menu-infos > ul > li > a.conheca {
  background-position: -1px 100%;
}

#menu-infos > ul > li > a.conheca span {
  margin: 11px 0 0 46px;
  width: 82px;
}

#menu-infos > ul > li > a.conheca:hover,
#menu-infos > ul > li > a.conheca.active {
  background-position: -1px 100%;
  height: 53px;
}

#menu-infos > ul > li > a.conheca:hover span,
#menu-infos > ul > li > a.conheca.active span {
  margin-top: 18px;
}

#menu-infos > ul > li > a.planos {
  background-position: -173px 100%;
}

#menu-infos > ul > li > a.planos span {
  background-position: -179px 0;
  margin: 11px 0 0 52px;
  width: 67px;
}

#menu-infos > ul > li > a.planos:hover,
#menu-infos > ul > li > a.planos.active {
  background-position: -173px 100%;
  height: 53px;
}

#menu-infos > ul > li > a.planos:hover span,
#menu-infos > ul > li > a.planos.active span {
  margin-top: 18px;
}

#menu-infos > ul > li > a.site1 {
  background-position: -345px 100%;
}

#menu-infos > ul > li > a.site1 span {
  background-position: -350px 0;
  margin: 11px 0 0 52px;
  width: 70px;
}

#menu-infos > ul > li > a.site1:hover,
#menu-infos > ul > li > a.site1.active {
  background-position: -345px 100%;
  height: 53px;
}

#menu-infos > ul > li > a.site1:hover span,
#menu-infos > ul > li > a.site1.active span {
  margin-top: 18px;
}

#menu-infos > ul > li > a.site2 {
  background-position: -517px 100%;
}

#menu-infos > ul > li > a.site2 span {
  background-position: -522px 0;
  margin: 11px 0 0 52px;
  width: 69px;
}

#menu-infos > ul > li > a.site2:hover,
#menu-infos > ul > li > a.site2.active {
  background-position: -517px 100%;
  height: 53px;
}

#menu-infos > ul > li > a.site2:hover span,
#menu-infos > ul > li > a.site2.active span {
  margin-top: 18px;
}


#menu-infos > ul > li > a.assinar {
  background-position: -689px 100%;
}

#menu-infos > ul > li > a.assinar span {
  background-position: 100% 0;
  margin: 11px 0 0 52px;
  width: 69px;
}

#menu-infos > ul > li > a.assinar:hover,
#menu-infos > ul > li > a.assinar.active {
  background-position: -689px 100%;
  height: 53px;
}

#menu-infos > ul > li > a.assinar:hover span,
#menu-infos > ul > li > a.assinar.active span {
  margin-top: 18px;
}

#content-infos {
  display: none;
  height: 193px;
}

#content-infos.conheca {
  background: #5c80e6 url(../../img/bgs/content-info-blue.png) repeat-x 50% 0;
}

#content-infos.planos {
  background: #c4ce47 url(../../img/bgs/content-info-green.png) repeat-x 50% 0;
}

#content-infos.site1 {
  background: #d2494e url(../../img/bgs/content-info-red.png) repeat-x 50% 0;
}

#content-infos.site2 {
  background: #9c363a url(../../img/bgs/content-info-darkred.png) repeat-x 50% 0;
}

#content-infos.assinar {
  background: #6eb422 url(../../img/bgs/content-info-lightgreen.png) repeat-x 50% 0;
}

.btn-close {
  bottom: -17px;
  display: none;
  height: 24px;
  left: 50%;
  margin: 0 0 0 -15px;
  width: 30px;
  position: absolute;
}

.btn-close span {
  display: block;
  text-indent: -1000em;
}

.conheca .btn-close {
  background: url(../../img/buttons/bt-close-blue.png) no-repeat center;
}

.planos .btn-close {
  background: url(../../img/buttons/bt-close-green.png) no-repeat center;
}

.site1 .btn-close {
  background: url(../../img/buttons/bt-close-red.png) no-repeat center;
}

.site2 .btn-close {
  background: url(../../img/buttons/bt-close-darkred.png) no-repeat center;
}

.assinar .btn-close {
  background: url(../../img/buttons/bt-close-lightgreen.png) no-repeat center;
}

#content-infos .content {
  display: none;
  color: #fff;
  font-size: 13px;
  line-height: 142%;
  font-weight: normal;
  margin: 0 auto;
  width: 960px;
}

#content-infos .content .text {
  color: #fff !important;
}

.conheca .text {
  background: url(../../img/icons/icon-conheca.png) no-repeat 0 50%;
  float: left;
  max-height: 168px;
  padding: 0 0 0 130px;
  margin: 15px 0 0 50px;
  width: 730px;
}

.planos .content .plans {
  float: left;
  margin: 5px 19px 0 0;
  position: relative;
  width: 151px;
}

.planos .content .plans.make {
  background: url(../../img/planos/home/monte-plano.png) no-repeat center top;
  min-height: 134px;
  padding-bottom: 44px;
  width: 188px;
}



.planos .content .plans.one {
  margin-left: 52px;
}

.planos .content .plans .bt-assinar {
  background: url(../../img/buttons/assinar.png) no-repeat  0 0;
  color: transparent;
  display: block;
  float: left;
  height: 39px;
  overflow: hidden;
  width: 151px;  
}

.planos .content .plans .bt-assinar span {
  display: block;
  text-indent: -1000em;
}

.planos .content .plans.one .bt-assinar:hover {
  background-position: -170px 0;
}

.planos .content .plans.two .bt-assinar:hover {
  background-position: -340px 0;
}

.planos .content .plans.three .bt-assinar:hover {
  background-position: -510px 0;
}

.planos .content .plans.four .bt-assinar:hover {
  background-position: -680px 0;
}

.planos .content .plans.five .bt-assinar {
  background-position: -850px 0;
  bottom: 0;
  left: 0;
  position: absolute;
  width: 187px;
}

.planos .content .plans.five .bt-assinar:hover {
  background-position: -1060px 0;
}

.planos .content .plans.make .make {
  float: left;
  padding: 35px 12px 0;
  width: 85%;
}

.icon-plans {
  bottom: 54px;
  height: 29px;
  position: absolute;
  right: 16px;
  width: 15px;
}

.plans-icons {
  background: url(../../img/icons/icons-plans.png) no-repeat  0 0;
  float: left;
  position: relative;
  width: 15px;
}

.plans-icons.fone-mini {
  background-position: 0 0;
  height: 11px;
}

.plans-icons.fire-mini {
  background-position: 0 -13px;
  height: 16px;
  margin-top: 2px;
}

.planos .content .plans.make .make .grid1 {
  margin: 0 0 2px;
  width: 100%;
}

.planos .content .plans.make .make .grid1 div.sel-home {
  margin-left: 2px;
  width: 95%;
}

.planos .content .plans.make .make .grid2 {
  float: left;
  width: 50%;
}

.planos .content .plans.make .make .grid2.first div.sel-home {
  margin-left: 2px;
}

.planos .content .plans.make .make .grid2 div.sel-home input {
  width: 75%;
}

div.sel-home input {
  padding: .7em 0 0;
}

.plan-value {
  color: #fff;
  float: left;
  line-height: 110%;
  margin: 10px 0 0;
  text-align: center;
  width: 100%;
}

.fSize10 {
  font-size: 10px;
}

.fSize15 {
  font-size: 15px;
  -webkit-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  -moz-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.fSize20 {
  font-size: 20px;
  -webkit-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  -moz-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.fSize33 {
  font-size: 33px;
  -webkit-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  -moz-text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
  text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
}

.site1 .text {
  background: url(../../img/icons/icon-site1.png) no-repeat 0 50%;
  float: left;
  max-height: 168px;
  padding: 0 0 0 130px;
  margin: 15px 0 0 50px;
  width: 730px;
}

.site2 .text {
  background: url(../../img/icons/icon-site2.png) no-repeat 0 10%;
  float: left;
  max-height: 168px;
  padding: 0 0 0 130px;
  margin: 15px 0 0 50px;
  width: 730px;
}

.assinar .text {
  background: url(../../img/icons/icon-assinar.png) no-repeat 0 50%;
  float: left;
  height: 160px;
  max-height: 160px;
  margin: 15px 0 0 50px;
  padding: 0 0 0 130px;
  position: relative;
  width: 730px;
}

.bt-info-assinar {
  background: url(../../img/buttons/bt-info-assinar.png) no-repeat center;
  bottom: 0;
  display: block;
  float: left;
  height: 60px;
  left: 300px;
  position: absolute;
  width: 241px;
}

.bt-info-assinar span {
  display: block;
  text-indent: -10000em;
}

/* END: Infos */

/* Conteudo - HOME */
#content .grid3 {
  float: left;
  margin: 0 0 40px;
  width: 316px;
}

#content .grid3 .bg-novidades {
  background: url(../../img/bgs/bg-novidades.png) no-repeat center;
  color: #494949;
  float: left;
  height: 300px;
  margin: 0 10px 22px;
  padding: 17px 21px 0;
  width: 240px;
}

.bg-novidades #novidades {
  float: left;
  max-height: 282px;
  overflow: hidden;
  width: 100%;
}

.bg-novidades #novidades header {
  float: left;
  margin: 7px 0 10px;
  width: 100%;
}

.bg-novidades #novidades header h3 {
  color: #494949;
  font-size: 20px;
  font-weight: normal;
  margin: 0 0 .6em;
  text-transform: uppercase;
}

.bg-novidades #novidades article {
  border-bottom: 1px solid #c8c2c2;
  border-top: 1px solid #fff;
  color: #494949;
  float: left;
  font-size: 12px;
  line-height: 18px;
  padding: 7px 0;
  text-transform: capitalize;
  width: 100%;
}

.bg-novidades #novidades article.first {
  border-top: 0 none;
}
.bg-novidades #novidades article:last-child,
.bg-novidades #novidades article.last {
  border-bottom: 0 none;
}

.link-news {
  color: #494949;
}

.link-news:hover {
  color: #494949;
  text-decoration: underline;
}

.bg-novidades #novidades article .data {
  font-weight: bold;
}

#content .grid3 .bg-qualidade {
  background: url(../../img/bgs/bg-qualidade.png) no-repeat 0 0;
  color: #494949;
  float: left;
  height: 336px;
  margin: 0 10px 22px;
  padding: 17px 21px 0;
  width: 240px;
}

#content .grid3 .bg-qualidade .text-container {
  margin: 0;
  width: 100%;
}

#content .grid3 .bg-qualidade .text-container .title {
  margin: 0 0 1.3em;
}

#content .grid3 .bg-qualidade .bt-player {
  background: url(../../img/buttons/bt-play-home.png) no-repeat 0 0;  
  display: block;
  float: left;
  height: 25px;
  right: 0;
  position: absolute;
  width: 25px;
}

#content .grid3 .bg-qualidade .bt-player:hover {
  background-position: 0 100%;
}

#content .grid3 .bg-qualidade .bt-player.bt-shout {
  top: 113px;
}

#content .grid3 .bg-qualidade .bt-player.bt-wmp {
  top: 188px;
}

#content .grid3 .bg-qualidade .bt-player.bt-aac {
  top: 270px;
}

.text-container {
  float: right;
  height: 317px;
  margin: 0 0 22px;
  position: relative;
  width: 290px;
}

.text-container.config {
  margin-right: 14px;
}

.text-container.chat {
  height: 150px;
}

.text-container .title {
  color: #494949;
  font-size: 20px;
  font-weight: normal;
  margin: .75em 0 .6em;
  text-transform: uppercase;
}

.text-container.chat .title {
  text-indent: 4px;
}

.text-container.atendimento {
  height: 132px;
  margin-bottom: 35px;
}

.text-container .text {
  color: #494949;
  font-size: 12px;
  float: left;
  line-height: 120%;
  width: 100%;
}

.text-container.chat .text {
  background: url(../../img/icons/icon-chat.png) no-repeat 0 0;
  height: 140px;
  padding: 0 0 0 85px;
  width: 205px;
}

.text-container.atendimento .text {
  background: url(../../img/icons/icon-atendimento.png) no-repeat 0 0;
  height: 85px;
  line-height: 24px;
  padding: 0 0 0 80px;
  width: 205px;
}

.text-container .bt-chat-status {
  background: url(../../img/buttons/bt-chat-online.png) no-repeat 0 0;
  bottom: 0;
  display: block;
  float: left;
  height: 22px;
  left: 15px;
  position: absolute;
  width: 53px;
}

.text-container .bt-chat-status.offline {
  background-position: 0 100%;
  cursor: default;
}

.text-container .video {
  bottom: 0;
  display: block;
  float: left;
  left: 1px;
  position: absolute;
}

.containerBox {
  cursor: pointer;
  height: 140px;
  left: 0;
  outline: none;
  padding: 13px 26px 0;
  position: absolute; 
  top:0;
  width: 250px;
  z-index: 99;
}

.containerBox:hover .title,
.containerBox:hover .text {
  text-decoration: underline;
}

.bg-colors.auto-dj,
.bg-colors.administravel {
  margin-bottom: 48px;
}

.bg-colors.administravel,
.bg-colors.visit {
  float: right;
}

.bg-colors {
  background: url(../../img/bgs/bg-colors.jpg) no-repeat 0 0;
  float: left;
  height: 153px;
  position: relative;
  width: 302px;
}

.bg-colors.red {
  background-position: 0 -200px;
}

.bg-colors.green {
  background-position: -323px 0;
}

.bg-colors.orange {
  background-position: -323px -200px;
}

.bg-colors .icon {
  background: url(../../img/icons/icon-colors.png) no-repeat;
  display: block;
  position: absolute;
}

.bg-colors.auto-dj .icon {
  background-position: 0 0;
  bottom: -22px;
  height: 83px;
  right: -10px;
  width: 154px;
}

.bg-colors.duvidas .icon {
  background-position: 0 -136px;
  bottom: -30px;
  height: 161px;
  right: -35px;
  width: 161px;
}

.bg-colors.administravel .icon {
  background-position: 100% 0;
  bottom: -42px;
  height: 108px;
  right: -25px;
  width: 149px;
}

.bg-colors.visit .icon {
  background-position: -222px -153px;
  bottom: -42px;
  height: 151px;
  right: -25px;
  width: 158px;
}

.bg-colors .text-container {
  width: 100%;
  height: 139px;
  margin: 0;
}

.bg-colors .text-container .title {
  margin: 0 0 1.3em;
}

.bg-colors.duvidas .text-container .text,
.bg-colors.visit .text-container .text {
  width: 180px !important;
}

/* Conteudo - HOME */

.internal .text {
  float: left;
  font-size: 1.4em;
  position: relative;
  line-height: 17px;
  width: 100%;    
}

/* Conteudo - EMPRESA & SERVIDORES */
.illustration {
  box-shadow:         0px 2px 5px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    0px 2px 5px rgba(50, 50, 50, 0.3);
  -webkit-box-shadow: 0px 2px 5px rgba(50, 50, 50, 0.3);
  float: right;
  margin: 0 0 20px 20px;
  padding: 9px;
  position: relative;
  max-width: 252px;
}

.illustration .image {
  float: none;
  display: block;
  margin: 0 auto;
}

.image {
  float: left;
  position: relative;
}
/* End Conteudo - EMPRESA & SERVIDORES */

/* Conteudo - SERVICOS */
.content-block {
  float: left;
  position: relative;
  width: 100%;
}

.content-block .text {
  float: none;
  width: auto !important;
  z-index: 1;
}

.ml-top {
  background: url(../../img/bgs/ml-top.png) no-repeat 0 top;
  float: left;
  padding-top: 8px;
  position: relative;
  margin: -31px 22px 22px -5px;
  width: 228px;
  z-index: 3;
}

.ml-bottom {
  background: url(../../img/bgs/ml-bottom.png) no-repeat 0 bottom;
  float: left;
  position: relative;
  width: 228px;
}

.ml-content {
  background: url(../../img/bgs/ml-content.png) repeat-y;
  float: left;
  margin-bottom: 11px;
  position: relative;
  width: 228px;
}

#menu-lateral {
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}

#menu-lateral li {
  float: left;
  position: relative;
}

.border-top {
  background: url(../../img/bgs/border.png) no-repeat 0 top;
  height: 2px;
  left: 9px;
  position: absolute;
  top:0;
  width: 220px;
}

#menu-lateral li a {
  background: url(../../img/icons/sprite-ml.png) no-repeat 0 0;
  color: #494949;
  cursor: pointer;
  float: left;
  font-size: 1.4em;
  height: 26px;
  margin: 0 0 0 9px;
  outline: none;
  padding: 14px 0 0 30px;
  position: relative;
  width: 189px;
  transition: padding-left 0.2s linear;
  -webkit-transition: padding-left 0.2s linear; 
  -moz-transition: padding-left 0.1s linear;
  -ms-transition: padding-left 0.2s linear; 
  -o-transition: padding-left 0.1s linear;
}

#menu-lateral li a:hover,
#menu-lateral li a.active {
  color: #066caa;
  padding-left: 50px;
  transition: padding-left 0.2s linear;
  -webkit-transition: padding-left 0.2s linear; 
  -moz-transition: padding-left 0.1s linear;
  -ms-transition: padding-left 0.2s linear; 
  -o-transition: padding-left 0.1s linear;
}

#menu-lateral li a.active {
  width: 166px;
  padding-left: 50px !important;
}

.no-csstransitions #menu-lateral li a,
.no-csstransitions #menu-lateral li a:hover {
  padding-left: 30px;
}

#menu-lateral li a.icon-documents {
  background-position: 0 14px;
}

#menu-lateral li a.icon-documents:hover,
#menu-lateral li a.icon-documents.active {
  background-position: 0 -341px;
}

#menu-lateral li a.icon-screw {
  background-position: 0 -28px;
}

#menu-lateral li a.icon-screw:hover,
#menu-lateral li a.icon-screw.active {
  background-position: 0 -383px;
}

#menu-lateral li a.icon-fire {
  background-position: 0 -67px;
}

#menu-lateral li a.icon-fire:hover,
#menu-lateral li a.icon-fire.active {
  background-position: 0 -422px;
}

#menu-lateral li a.icon-volume {
  background-position: 0 -107px;
}

#menu-lateral li a.icon-volume:hover,
#menu-lateral li a.icon-volume.active {
  background-position: 0 -462px;
}

#menu-lateral li a.icon-fone {
  background-position: 0 -149px;
}

#menu-lateral li a.icon-fone:hover,
#menu-lateral li a.icon-fone.active {
  background-position: 0 -504px;
}

#menu-lateral li a.icon-tv {
  background-position: 0 -188px;
}

#menu-lateral li a.icon-tv:hover,
#menu-lateral li a.icon-tv.active {
  background-position: 0 -543px;
}

#menu-lateral li a.icon-light {
  background-position: 0 -228px;
}

#menu-lateral li a.icon-light:hover,
#menu-lateral li a.icon-light.active {
  background-position: 0 -583px;
}

#menu-lateral li a.icon-tuto {
  background-position: 0 -268px;
}

#menu-lateral li a.icon-tuto:hover,
#menu-lateral li a.icon-tuto.active {
  background-position: 0 -623px;
}

.services .text-container .text {
  font-size: 1.2em !important;
}

.services .bg-colors {
  background-image: url(../../img/bgs/bg-color-services.png);
}

.services .containerBox {
  cursor: default !important;
}

.services .containerBox:hover .title,
.services .containerBox:hover .text {
  text-decoration: none !important;
}

.services .auto-dj,
.services .administravel {
  margin: 46px 0 0 11px;
}

.bt-know {
  background: url(../../img/buttons/bt-know.png) no-repeat left -66px;
  bottom: -28px;
  height: 60px;
  left: -37px;
  position: absolute;
  width: 238px;
  z-index: 999;
}

.services .administravel > .bt-know {
  background-position: -263px -66px;
}

.services .bg-colors.auto-dj .icon {
  bottom: -17px !important;
  right: -20px !important;
}

.titles-services {
 background: url(../../img/bgs/bg-services-titles.png) no-repeat 0 0;
 color: #494949;
 float: left;
 font-size: 3em;
 font-weight: normal;
 letter-spacing: -0.0635em;
 line-height: 40px;
 margin-bottom: 0.8em;
 padding: 0 0 0 1.6em;
 position: relative;
 width: 66.7%;
}

.titles-services.documents {
  background-position: 0 0;
}

.titles-services.screw {
  background-position: 0 -38px;
}

.titles-services.fire {
  background-position: -5px -196px;
  padding-top: 0.1em;
}

.titles-services.dj-fone {
  background-position: 0 -77px;
}

.titles-services.how-works {
  background-position: 0 -156px;
}

.services .bg-colors .text-container .title {
  margin-bottom: 1em;
}

.dj-images {
  float: left;
  margin: 71px 0 0 78px;
  position: relative;
  width: 822px;
}

.dj-images img {
  float: left;
  position: relative;
}

.img-two {
  float: right !important;
  margin: -50px -21px 0 0;
}

.varied-information {
  float: left;
  position: relative;
  width: 100%;
}

.sub-titles {
  color: #494949;
  float: left;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 1.05em;
  position: relative;
}

.varied-information article {
  color: #494949;
  background: url(../../img/icons/check.png) no-repeat 2px 4px;
  float: left;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 1.2em;
  min-height: 24px;
  padding: 0 0 0 2.4em;
  position: relative;
  width: 876px;
}

.services .varied-information article {
  background-position: 2px 0px;
}

.varied-information article a {
  .text;
}

.varied-information article a:hover {
  text-decoration: underline;
}

/* Site Administrável */
.compare {
  font-size: 1.4em;
  margin-top: 4.4em;
}

.table-siteadmin {
  background: url(../../img/bgs/big-table.png) no-repeat;
  float: left;
  height: 1037px;
  margin: 8px 0 0 -2px;
  padding-bottom: 96px;
  position: relative;
  width: 382px;
}

table#siteAdmin-1,
table#siteAdmin-2 {
  float: left;
  position: relative;
  width: 100%;
}

table#siteAdmin-1 tr.first-line {
  width: 100%;
}

tr.first-line th {
  color: #494949;
  font-size: 10px;
  font-weight: normal;
  padding-top: 4px;
  text-shadow: 0px 1px 0px white;
}

.first-th-admin {
  font-size: 15px !important;
}

.siteAdmin-bg {
  background: url(../../img/bgs/bg-color-small-red.jpg) no-repeat;
  height: 49px;
  width: 379px;
}

table#siteAdmin-2 .siteAdmin-bg {
  background: url(../../img/bgs/bg-color-small-blue.jpg) no-repeat;
  height: 49px;
  width: 379px;
}

.site-administravel {
  float: left;
  margin: 0 0 0 98px;
  position: relative;
}

.siteAdmin-bg th {
  color: #fff;
  font-size: 18px;
  font-weight: normal;
  height: 31px;
  padding-top: 0;
}

.body-administ td {
  font-size: 12px;
  padding: 4px 0 0 19px;
  text-shadow: 0px 1px 0px white;
}

.icon-have {
  padding-left: 3px;
}

.icon-lack {
  padding: 2px 0 0 1px;
}

.body-administ tr .space-td {
  padding: 3px 0 0 30px;
}

.table-siteadmin .bt-info-assinar {
  bottom: 17px;
  left: 71px;
}

/* Site Administrável */

/* Tipos de Streaming */
.titles-services.tipoStreaming {
  background-position: 0 102%;
}

.table-wrapper {
  clear: both;
  float: left;
  margin: 0 0 0 -1px;
  width: 902px;
}

.table-wrapper.tipoStreaming {
  background: #e1e1e2 url(../../img/bgs/bg-table-tipo-stream.jpg) no-repeat 50% 0;
  height: 377px;
}

.table {
  width: 900px;
  max-height: 375px;
}

.tipoStreaming .bg-color {
  background: url(../../img/bgs/bg-color-tipo-streaming.jpg) no-repeat 100% 50%;
}

.tipoStreaming .bg-color {
  color: #fff;
  height: 49px;
  padding: 0 !important;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, .8);
  text-transform: none;
}

.table th,
.table td {
  background: url(../../img/bgs/sep-table-vert.png) repeat-y 100% 50%;
  padding: 0 20px;
}

.table th {
  font-size: 20px;
  font-weight: normal;
  height: 53px;
  padding: 15px 20px 10px;
  text-align: left;
  text-transform: uppercase;
}

.table tbody tr {
  background: url(../../img/bgs/sep-table-horz.png) repeat-x 50% 0;
}

.table tbody td {
  font-size: 14px;
  height: 50px;
  text-transform: uppercase;
}

.table .fSize12 {
  font-size: 12px;
  text-transform: none;
}

.table .last {
  background: none;
}

.subtitle {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
}

.subtitle.icon-aviao {
  line-height: 35px;
}

.subtitle.icon-aviao .icon {
  background: url(../../img/icons/icon-aviao.png) no-repeat center;
  display: block;
  float: left;
  height: 35px;
  margin: 0 10px 0 0;
  width: 38px;
}

.compare-wrap {
  float: left;
  height: 1038px;
  margin: 8px 18px 0;
  position: relative;
  width: 100px;
  overflow: hidden !important;
}

.bt-compare {
  background: url(../../img/buttons/bt-compare.png) no-repeat center;
  border: 0;
  float: left;
  height: 100px;
  padding: 0;
  position: absolute;
  text-indent: -99999em;
  width: 100px;
}
/* Planos Radios */
.titles-services.planosRadios {
  background-position: 0 5px;
}

.uppercase {
  font-size: 20px;
  text-transform: uppercase;
}

.table-wrapper.planosAccShout {
  background: #e1e1e2 url(../../img/bgs/bg-table-tipo-stream.jpg) no-repeat 50% 0;
  height: 377px;
}

.table-img-top {
  float: left;
  margin: 0 5px;
  position: relative;
}

.not-AD {
  color: #494949;
  font-size: 12px;
  line-height: 120%; 
  margin: 1em 0em 0em 0em;
  position: relative;
}

.mac .table-img-top {
  margin: 0 1px;
} 

.table-wrapper.planosWma {
  background: #e1e1e2 url(../../img/bgs/bg-table-planos-wma.jpg) no-repeat 50% 0;
  height: 177px;
}

.table-wrapper.planosWonline {
  background: #e1e1e2 url(../../img/bgs/bg-table-tipo-tvonline.jpg) no-repeat 50% 0;
  height: 277px;
}

.table .bg-color {
  color: #fff;
  font-size: 20px !important;
  height: 49px;
  padding: 0;
  text-align: center;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, .8);
  text-transform: none;
}

.planosAccShout .table th {
  font-size: 11px;
  height: 53px;
  padding: 13px 1px;
  text-align: center;
}

.planosWma .table th,
.planosWonline .table th {
  padding: 12px 5px;
  text-align: center;
}

.mac .planosWma .table th,
.mac .planosWonline .table th,
.mac .planosAccShout .table th {
  padding: 12px 5px;
}

.tipoStreaming .table th {
  padding: 20px 20px;
}

.table th.containSubtable {
  height: auto;
  margin: 0;
  padding: 0 !important;
}

.planosAccShout tbody td {
  color: #ff7c00;
  padding: 0 10px;
  text-align: center;
  text-transform: uppercase;
}

.planosAccShout tbody td a {
  display: inline-block;
  color: #FF7C00;
  cursor: pointer;
  height: 60%;
  outline: none;
  padding: 13px 0 0;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
  width: 100%;
}

.planosWma tbody td a,
.planosWonline tbody td a{
  color: #38adf4;
}

.planosAccShout tbody td.consult {
  font-size: 13px;
  text-transform: none;
}

.planosAccShout tbody td.first {
  font-size: 12px;
  text-align: left;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
}

.planosAccShout.planosWma tbody td.first,
.planosAccShout.planosWonline tbody td.first {
  color: #38adf4 !important;
}

.subtable {
  height: 49px;
  width: 100%;
}

.planosAccShout .subtable {
  background: url(../../img/bgs/bg-color-acc-shout.jpg) no-repeat 100% 50%;
}

.planosWma .subtable,
.planosWonline .subtable {
  background: url(../../img/bgs/bg-color-wma.jpg) no-repeat 100% 50%;
}

.table .subtable tbody td {
  background: none;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  padding: 0;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, .8);
  text-transform: none;
  text-align: center;
  min-width: 52px;
}

.hover-td {
  background: url(../../img/bgs/bg-hover-table.jpg) repeat-x 50% 50% !important;
  color: #fff !important;
  cursor: pointer !important;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, .8) !important;
}

.hover-td a {
  color: #fff !important;
  cursor: pointer;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.8) !important;
}

.planosWma .table .subtable tbody td,
.planosWonline .table .subtable tbody td {
  color: #1e85c3;
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 1);
  min-width: 53px;
}

.table .subtable tbody td.first {
  font-size: 13px;
  text-align: left;
  padding-left: 10px;
}

.subtitle.icon-aviao .icon {
  background: url(../../img/icons/icon-aviao.png) no-repeat center;
  display: block;
  float: left;
  height: 35px;
  margin: 0 10px 0 0;
  width: 38px;
}

.mgTopLess10 {
  margin-top: -10px;
}

.mgBottom0 {
  margin-bottom: 0px !important;
}

.image-1,
.image-2,
.image-3,
.image-4,
.image-5 {
  float: left;
}

.image-2,
.image-3,
.image-5 {
  margin-left: 21px;
}

.image-2,
.image-4 {
  margin-top: 15px;
}

#bt-assinar-agora {
  background: url(../../img/buttons/bt-assinar-table.png) no-repeat center;
  display: none;
  height: 71px;
  position: absolute;
  width: 125px;
  z-index: 9999;
}
/* Planos Radios */

/* Tv Web Online */
.titles-services.tv-online {
  background-position: 0 -117px;
}

.webonline-imgs {
  clear: both;
  float: left;
  margin: 16px 0 32px 0;
  position: relative;
  width:100%;
}

.webonline-imgs img {
  float: left;
  position: relative;
}

.webonline-02 {
  margin: 17px 0 0 61px;
}

.tv-online .text .varied-information article {
  font-size: 12px !important;
}

/* Tv Web Online */

/* Monte sua Radio */
.our-radio {
  background: url(../../img/bgs/bg-servicos-monteradio.jpg) no-repeat;
  float: left;
  height: 308px;
  margin: 37px 0 0 -1px;
  position: relative;
  width: 901px;
}

.our-radio img,
.our-radio .second-ourradio-img {
  float: left;
  margin: 1px 0 0 1px;
  position: relative;
}

.second-ourradio-img {
  margin: 9px 0 0 0 !important;
}
/* Monte sua Radio */
/* Tutoriais */

.titles-services.tutos {
  background-position: 0 -274px;
}

.administraveis-locais {
  float: left;
  margin-bottom: 26px;
  position: relative;
  width: 100%;
}

.administraveis-locais header {
  float: left;
  position: relative;
  margin: 4px 0 27px 0;
  width: 100%;
}

.administraveis-locais h1 {
  font-size: 20px;
  font-weight: normal;  
}

.administraveis-locais article {
  background-color: #f4f6f3;
  float: left;
  position: relative;
  width: 100%;
}

.administraveis-locais article:hover {
  background-color: #f5f6f7;
}

.only-for-first,
.only-for-first:hover {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
}

.only-for-last,
.only-for-last:hover {
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
}

.play-videos {
  color: #494949;
  cursor: pointer;
  float: left;
  font-size: 17px;
  min-height: 20px;
  outline: none !important;
  padding: 20px 29px 9px;
  position: relative;
  width: 842px;
}

.only-for-last .play-videos {
  background: url(../../img/bgs/bg-bottom-article-tuto.png) no-repeat center bottom;
}

.administraveis-locais article:hover .play-videos,
.administraveis-locais article.only-for-first:hover .play-videos {
  color: #066caa;
}

.borders {
  border-top: 1px solid #c6c8c6;
  border-bottom: 1px solid #f7f9f7;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.icon-play {
  background: url(../../img/icons/icon-play.png) no-repeat 0 -50px;
  float: right;
  height: 20px;
  margin: -2px 0 7px 5px;
  position: relative;
  width: 27px;
}

.administraveis-locais article:hover .icon-play {
  background-position: 0 0;
}

/* Tutoriais */ 
/* End Conteudo - SERVICOS */

/* Conteudo - NOTÍCIAS */
.dropdow-container {
  background: #f4f6f3;
  border-bottom: 1px solid #dbddda;
  .roundedCorner;
  float: left;
  margin: 1px 0 11px 0;
  padding: 0 20px;
  position: relative;
  width: 860px;
}

.dropdow-container header {
  float: left;
  width: 100%;
}

.dropdow-container header a {
  color: transparent;
  text-decoration: none;
}

.dropdow-container header a h1 {
  color: #494949;
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
  padding:15px 0;
  position: relative;
}

.dropdow-container header a h1 .bt-control {
  background: url(../../img/buttons/bt-plus-minus.png) no-repeat;
  display: block;
  float: right;
  height: 32px;
  margin: -2px 0 5px 5px;
  width: 32px;
}

.dropdow-container header a h1 .bt-control.plus {
  background-position: 100% 100%;
}

.dropdow-container header a:hover h1 .bt-control.plus,
.dropdow-container header a h1 .bt-control.plus:hover {
  background-position: 100% 0;
}

.dropdow-container header a h1 .bt-control.minus {
  background-position: 0 100%;
}

.dropdow-container header a:hover h1 .bt-control.minus,
.dropdow-container header a h1 .bt-control.minus:hover {
  background-position: 0 0;
}

.dropdow-container .data {
  background: url(../../img/icons/icon-publicated.png) no-repeat 0 0;
  color: #494949;
  float: left;
  font-size: 12px;
  font-style: italic;
  max-height: 15px;
  margin: 5px 0 15px;
  padding: 2px 0 2px 23px;
  width: 100%;
}

.dropdow-container .text-container {
  background: url(../../img/bgs/shadow-news.png) no-repeat center bottom;
  color: #494949;
  display: none;
  float: left;
  height: auto;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.dropdow-container.opened .text-container {
  padding: 0 0 15px;
}

.dropdow-container .text-container .text,
.dropdow-container .text-container .text * {
  color: #494949;
  font-size: 14px;
  line-height: 120%;
}

.dropdow-container.opened .text-container .text .img-wrapper {
  background: url(../../img/bgs/bg-imagem-news.png) no-repeat center;
  float: right;
  height: 250px;
  margin: 0 0 10px 10px;
  padding: 12px 14px 16px;
  width: 250px;
}

.dropdow-container.opened img {
  border: 0 none;
  margin: 0;
  float: right;
}

.dropdow-container img {
  border: 14px solid #fff;
  border-top-width: 12px;
  border-bottom-width: 16px;
  margin: 0 0 10px 10px;
  float: right;
}

.content .bt-back {
  background: url(../../img/buttons/bt-back.png) no-repeat 0 100%;
  display: block;
  float: left;
  height: 32px;
  margin: 34px 0 15px;
  position: relative;
  width: 102px;
}

.content .bt-back:hover {
  background-position: 0 0;
}

.content .bt-back span {
  display: block;
  text-indent: -1000em;
}
/* Conteudo - NOTÍCIAS */

/* Conteudo - FAQ */
.question-wrapper {
  float: left;
  margin: 1px 0 19px 0;
  width: 100%;
}

.faq .textarea-left {
  width: 756px;
}

.bt-ask {
  background: url(../../img/buttons/bt-ask.png) no-repeat 0 100%;
  border: 0;
  float: right;
  height: 132px;
  padding: 0;
  position: relative;
  width: 132px;
}

.bt-ask:hover {
  background-position: 0 0;
}

.bt-ask span, .bt-search span {
  display: block;
  text-indent: -1000em;
}

.search-wrap {
  float: left;
  margin: 19px 0 0 0;
  position: relative;
  width: 100%;
}

.search-wrap .bmiddle {
  width: 739px !important;
}

.bt-search {
  background: url(../../img/buttons/bt-search1.png) no-repeat 0 0;
  border: 0;
  float: right;
  height: 44px;
  margin-top: 5px;
  padding: 0;
  position: relative;
  width: 132px;
}

.bt-search:hover {
  background-position: 0 -48px;
}

/* Conteudo - FAQ */

/* Conteudo - FORMULARIOS */
form {
  float: left;
  width: 100%;
}

.textarea-left {
  background: url(../../img/bgs/bg-ask-faq-left.png) no-repeat 0 0;
  float: left;
  height: 132px;
  padding: 0 0 0 6px;
  width: 99.6%;
}

.textarea-right {
  background: url(../../img/bgs/bg-ask-faq-right.png) no-repeat 100% 0;
  float: left;
  height: 132px;
  padding: 0 6px 0 0;
  width: 99%;
}

.textarea {
  background: url(../../img/bgs/bg-ask-faq-middle.png) repeat-x 50% 0;
  float: left;
  height: 132px;
  padding: 0;
  width: 100%;
}

.textarea textarea {
  background: transparent url(../../img/spacer.gif);
  border: 0;
  float: left;
  font-size: 14px;
  font-style: italic;
  height: 120px;
  max-height: 120px;
  min-height: 120px;
  margin: 10px 0 0;
  resize: none;
  width: 100%;
}

.searcharea-left {
  background: url(../../img/bgs/bg-input-faq-left.png) no-repeat 0 0;
  float: left;
  height: 32px;
  padding: 0 0 0 12px;
  width: 751px;
}

.searcharea-right {
  background: url(../../img/bgs/bg-input-faq-right.png) no-repeat right 0;
  float: left;
  height: 32px;
  padding: 0 12px 0 0;
  width: 737px;
}

.searcharea {
  background: url(../../img/bgs/bg-input-faq-middle.png) repeat-x;
  float: left;
  height: 32px;
  width: 100%;
}

.input-searcharea {
  background: transparent url(../../img/spacer.gif);
  border: 0;
  float: left;
  font-size: 1.4em;
  font-style: italic;
  height: 100%;
  line-height: 21px;
  padding: 0;
  width: 100%;
}

/* Conteudo - CONFIRMAR PAGAMENTO & CONTATO */
.form-left,
.form-right {
  float: left;
  margin: 6px 0 0 0;
  position: relative;
  width: 415px;    
}

.form-right {
  float: right;
}

form label {
  clear: both;
  color: #494949;
  float: left;
  font-size: 2em;
  line-height: 100%;
  width: 100%;
}

form label .inc-adm,
form label .inc-dj {
  font-size: .8em;
}

.bars {
  background: url(../../img/bgs/sprite-inputs.png) no-repeat 0 0;
  float: left;
  max-height: 122px;
  min-height: 42px;
  position: relative;
}

.bars.bleft {
  margin: 6px 0 16px;
  padding-left: 11px;
}

.bars.bleft.error {
  background-position: 0 -510px;
}

.bars.bright {
  background-position: right -90px;
  padding-right: 11px;
}

.error .bars.bright {
  background-position: right -599px;
}

.error .bars.bmiddle,
.error .bars.bmiddle-min {
  background-position: 0 -554px;
}

.bmiddle.comprovante {
  width: 355px !important;
  padding-right: 35px;
}

.bmiddle-min {
  width: 170px !important;
}

.bmiddle > input,
.bmiddle-min > input {
  background: transparent url(../../img/spacer.gif);
  border: 0;
  float: left;
  font-size: 1.2em;
  font-style: italic;
  height: 42px;
  padding: 0;
  position: relative;
  width: 100%;
}

.rightmin-01,
.rightmin-02 {
  float: left;
  position: relative;
  width: 192px;
}

.rightmin-02 {
  float: right;
  margin-right: 3px;
}

.bars.bright {
  background-position: right -90px;
  padding-right: 11px;
}

.bars.bmiddle,
.bars.bmiddle-min {
  background: url(../../img/bgs/sprite-inputs.png) repeat-x 0 -45px;
  width: 390px;
}

.bars.tleft {
  background-position: left -135px;
  height: 122px;
  margin: 10px 0 16px;
  padding-left: 11px;
}

.bars.tleft.error {
  background-position: 0px -644px;
}

.error input,
.error textarea {
  color: #fc9999; 
}

.bars.tright {
  background-position: right -385px;
  height: 122px;
  padding-right: 11px;
}

.error .bars.tright {
  background-position: right -895px;
}

.bars.tmiddle {
  background-position: 0 -260px;
  background-repeat: repeat-x;
  height: 122px;
}

.error .bars.tmiddle {
  background-position: 0 -770px;
}

.bars.tmiddle > textarea {
  background: transparent url(../../img/spacer.gif);
  border: 0;
  float: left;
  font-size: 1.2em;
  font-style: italic;
  line-height: 100%;
  height: 107px;
  padding: 15px 0 0 0;
  position: relative;
  resize: none;
  width: 878px;  
}

.file-wrap {
  float: left;
  position: relative;
  width: 412px;
  height: 68px;
  overflow: hidden;
}

.icon-file {
  background: url(../../img/icons/file.png) no-repeat;
  height: 40px;
  margin: 0 0 0 0;
  position: absolute;
  right: 0;
  width: 35px;
  top: 0;
}

.captcha-wrap {
  float: right;
  position: relative;
}

.payment .captcha-wrap {
  margin-top: 19px !important;
}

.captcha-img {
  float:left;
  position: relative;
}

.captcha-wrap label {
  margin: 16px 15px 0 0;
  width: auto;
}

.captcha-wrap .bmiddle {
  width: 110px;  
}

.send-area {
  float: left;
  margin-top: 7px;
  position: relative;
  width: 100%;
}

.btn-send {
  background: url(../../img/buttons/bt-send.png) no-repeat 0 0;
  border: 0;
  float: right;
  height: 52px;
  margin: 0;
  padding: 0;
  position: relative;
  width: 133px;
}

.btn-send:hover {
  background: url(../../img/buttons/bt-send.png) no-repeat 1px -57px;
}

.warning-msg {
  background: url(../../img/bgs/sprite-msg.png) no-repeat 0 0;
  height: 73px;
  float: left;
  position: relative;
  width: 423px;
}

.font-msg {
  font: 1.7em/100% "Myriad Pro", Arial, sans-serif;
  margin-top: 1em;
}

.warning-msg.correct {
  background-position: -2px -3px;
}

.warning-msg.correct > .font-msg {
  color: #03652C;
  text-align: center;
}

.warning-msg.incorrect {
  background-position: -2px -79px;
}

.warning-msg.incorrect > .font-msg {
  color: #ac2525;
  float: left;
  margin-left: 3.1em;
}

input::-webkit-input-placeholder {
  color: #acb1af;
}

.error input::-webkit-input-placeholder {
  color: #fc9999;
}

input:-ms-input-placeholder {
  color: #acb1af;
}

.error input:-ms-input-placeholder {
  color: #fc9999;
}

.error .input {
  color: #fc9999 !important;
}

input:-moz-placeholder {
  color: #acb1af !important;
}

.error input:-moz-placeholder {
  color: #fc9999 !important;
}

textarea::-webkit-input-placeholder {
  color: #acb1af;
}

.error textarea::-webkit-input-placeholder {
  color: #fc9999;
}

textarea:-ms-input-placeholder {
  color: #acb1af;
}

.error textarea:-ms-input-placeholder {
  color: #fc9999;
}

textarea:-moz-placeholder {
  color: #acb1af;
}

.error textarea:-moz-placeholder {
  color: #fc9999;
}

.placeholder {
  color: #acb1af;
}

.error .placeholder {
  color: #fc9999;
}
/* END - CONFIRMAR PAGAMENTO & CONTATO */

/* CADASTRO */
.w162 {
  max-width: 162px;
  margin-right: 14px;
  float: left;
}

.w162 .bars.bmiddle, .w162 .bars.bmiddle-min {
  max-width: 140px;
}

.w162 div.sexy div.list-wrapper {
  width: 113%;
}

.w162 div.sexy input {
  font-size: 11px;
  width: 79%;
}

.w192 {
  max-width: 192px;
  margin-right: 28px;
  float: left;
}

.w192 .bars.bmiddle, .w192 .bars.bmiddle-min {
  max-width: 170px;
}

.w192 div.sexy div.list-wrapper {
  width: 82%;
}

.w192 div.sexy input {
  width: 79%;
}

.w112 {
  max-width: 112px;
  margin-right: 14px;
  float: left;
}

.resetMarginRight {
  margin-right: 0;
}

.w112 .bars.bmiddle, .w112 .bars.bmiddle-min {
  max-width: 90px;
}

.w112 div.sexy div.list-wrapper {
  width: 120%;
}

.w112 div.sexy input {
  font-size: 11px;
  width: 58%;
}

.internal.cadastro #content .content-bottom .content {
  padding-top: 10px;
}

.cadastro .form-left {
  margin-top: 36px;
}

.cadastro #price {
  background: url(../../img/bgs/bg-price.png) no-repeat center;
  color: #fff;
  float: left;
  font-size: 48px;
  height: 53px;
  margin-bottom: 24px;
  padding: 37px 0 0 35px;
  text-align: center;
  width: 375px;
}

.cadastro #price .consultar {
  font-size: 34px;
  line-height: 40px;
  clear: both;
  display: block;
  margin: -27px 0 0 0;
}
.cadastro #price .msg-consultar {
  font-size: 12px;
  clear: both;
  display: block;
  margin: 0 auto;
  width: 350px;
}

.cadastro #price .month {
  font-size: 18px;
}

.checkbox {
  margin-bottom: 16px;
  width: auto;
}

.checkbox input[type="checkbox"] {
  float: left;
  margin: 4px 10px 0 0;
}

.license-info {
  float: left;
  width: 55%;
}

.license-info .small-info {
  color: #494949;
  font-size: 14px;
  margin-bottom: 10px;
}
/* END: CADASTRO */

/* Conteudo - FORMULARIOS */

/* Conteudo - Nova Modal */
.modal-termos {
  color: #494949;
  cursor: pointer;
  text-decoration: underline !important;
}

#invisible {
  display: none;
}

#modal-box {
  background: url(../../img/bgs/bg-modal.png) no-repeat;
  float: left;
  height: 500px;
  position: relative;
  width: 800px;
}

#modal-header {
  float: left;
  height: 40px;
  position: relative;
  width: 100%;
}

#modal-header h1 {
  .font01;
  display: block;
  color: #fff;
  font-size: 2.4em;
  font-weight: normal;
  line-height: 100%;
  margin: 7px auto 0;
  position: relative;
  width: 150px;
}

#division {
  float: left;
  height: 427px;
  margin: 17px 0 0 38px;
  position: relative;
  width: 760px;
  overflow: auto;
}

.text-box {
  color: #393e42;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  float: left;
  line-height: 20px;
  padding-right: 38px;
  position: relative;
}

/* END - Nova Modal */

/* Helpers */
.clearfix:after,
.clearfix:before {
  content: "\020";
  display: block;
  height: 0;
  visibility: hidden;
}
 
.clearfix:after {
  clear: both;
}

.clearfix {
  zoom: 1;
}

.cAll {
  clear: both;
}

.hide {
  display: none;
}

.text {
  color: #494949;
  font-size: 12px;
}

.fRight {
  float: right;
}

.loader {
  display: none;
  left:50%;
  height: 30px;
  position: absolute;
  margin: -15px 0 0 -15px;
  width: 30px;
  z-index:9999999;
}

.payment .loader,
.contact .loader {
  top: 50%;
}

.news .loader,
.faq .loader {
  bottom: 47px;
}

/* END: Helpers */